## 호선을 기준으로 월별 지하철 이용객 수

### 1. 데이터 전처리 과정

In [1]:
import pyspark
import numpy as np
import pandas as pd

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
import pyspark.sql.types as T
import pyspark.sql.functions as F

In [3]:
pq = spark.read.parquet('metro_per_date')
pq.show()

+----------+------+------------+------------+------------+--------+
|  사용일자|노선명|        역명|승차총승객수|하차총승객수|이용객수|
+----------+------+------------+------------+------------+--------+
|2018-01-10|분당선|압구정로데오|       16346|       18420|   34766|
|2018-01-10|분당선|      서울숲|        7914|        7922|   15836|
|2018-01-10|분당선|        수원|        9461|        6280|   15741|
|2018-01-10|분당선|        수서|       15403|       15627|   31030|
|2018-01-10|분당선|  대모산입구|        3431|        3182|    6613|
|2018-01-10|분당선|      개포동|        3582|        3723|    7305|
|2018-01-10|분당선|        구룡|        2105|        2005|    4110|
|2018-01-10|분당선|        도곡|        7855|        8147|   16002|
|2018-01-10|분당선|        한티|       16276|       17214|   33490|
|2018-01-10|분당선|        선릉|       10792|       22141|   32933|
|2018-01-10|과천선|        범계|       32318|       30961|   63279|
|2018-01-10|과천선|        평촌|       19691|       19258|   38949|
|2018-01-10|과천선|      인덕원|       28817|       28564|   57381|
|2018-01-10|과천선|정부과천청사|       16093|       15480|   31573|
|2018-01-10|과천선|        과천|        4888|        4102|    8990|
|2018-01-10|과천선|      대공원|        2297|        2422|    4719|
|2018-01-10|과천선|    경마공원|        2089|        2110|    4199|
|2018-01-10|과천선|      선바위|        9809|        8032|   17841|
|2018-01-10|안산선|      수리산|        4848|        3606|    8454|
|2018-01-10|안산선|      오이도|        9162|        8912|   18074|
+----------+------+------------+------------+------------+--------+
only showing top 20 rows

In [4]:
#지하철 노선 현황
pq.select("노선명").distinct().collect()

[Row(노선명='일산선'),
 Row(노선명='장항선'),
 Row(노선명='경부선'),
 Row(노선명='우이신설선'),
 Row(노선명='분당선'),
 Row(노선명='7호선'),
 Row(노선명='수인선'),
 Row(노선명='안산선'),
 Row(노선명='4호선'),
 Row(노선명='1호선'),
 Row(노선명='경의선'),
 Row(노선명='3호선'),
 Row(노선명='경강선'),
 Row(노선명='경춘선'),
 Row(노선명='9호선'),
 Row(노선명='6호선'),
 Row(노선명='5호선'),
 Row(노선명='8호선'),
 Row(노선명='공항철도'),
 Row(노선명='과천선'),
 Row(노선명='경인선'),
 Row(노선명='중앙선'),
 Row(노선명='2호선'),
 Row(노선명='경원선')]

In [5]:
#노선명 전처리과정
pq = pq.withColumn("노선명", F.when(pq.노선명 == "일산선","3호선").otherwise(pq.노선명))
pq = pq.withColumn("노선명", F.when(pq.노선명 == "장항선","1호선").otherwise(pq.노선명))
pq = pq.withColumn("노선명", F.when(pq.노선명 == "경부선","1호선").otherwise(pq.노선명))
pq = pq.withColumn("노선명", F.when(pq.노선명 == "안산선","4호선").otherwise(pq.노선명))
pq = pq.withColumn("노선명", F.when(pq.노선명 == "경인선","1호선").otherwise(pq.노선명))
pq = pq.withColumn("노선명", F.when(pq.노선명 == "경원선","1호선").otherwise(pq.노선명))
pq = pq.withColumn("노선명", F.when(pq.노선명 == "과천선","4호선").otherwise(pq.노선명))
pq = pq.withColumn("노선명", F.when(pq.노선명 == "수인선","수인분당선").otherwise(pq.노선명))
pq = pq.withColumn("노선명", F.when(pq.노선명 == "분당선","수인분당선").otherwise(pq.노선명))
pq = pq.withColumn("노선명", F.when(pq.노선명 == "경의선","경의중앙선").otherwise(pq.노선명))
pq = pq.withColumn("노선명", F.when(pq.노선명 == "중앙선","경의중앙선").otherwise(pq.노선명))

In [6]:
#지하철 노선 전처리 확인
pq.select("노선명").distinct().collect()

[Row(노선명='우이신설선'),
 Row(노선명='7호선'),
 Row(노선명='4호선'),
 Row(노선명='1호선'),
 Row(노선명='3호선'),
 Row(노선명='경강선'),
 Row(노선명='경춘선'),
 Row(노선명='9호선'),
 Row(노선명='6호선'),
 Row(노선명='경의중앙선'),
 Row(노선명='5호선'),
 Row(노선명='8호선'),
 Row(노선명='공항철도'),
 Row(노선명='2호선'),
 Row(노선명='수인분당선')]

In [10]:
#모든 노선 parquet 저장
pq.write.parquet("all_line")

In [11]:
#필요없는 데이터 삭제
pq = pq.drop("하차총승객수","역명", "이용객수")
pq.show()

+----------+----------+------------+
|  사용일자|    노선명|승차총승객수|
+----------+----------+------------+
|2018-01-10|수인분당선|       16346|
|2018-01-10|수인분당선|        7914|
|2018-01-10|수인분당선|        9461|
|2018-01-10|수인분당선|       15403|
|2018-01-10|수인분당선|        3431|
|2018-01-10|수인분당선|        3582|
|2018-01-10|수인분당선|        2105|
|2018-01-10|수인분당선|        7855|
|2018-01-10|수인분당선|       16276|
|2018-01-10|수인분당선|       10792|
|2018-01-10|     4호선|       32318|
|2018-01-10|     4호선|       19691|
|2018-01-10|     4호선|       28817|
|2018-01-10|     4호선|       16093|
|2018-01-10|     4호선|        4888|
|2018-01-10|     4호선|        2297|
|2018-01-10|     4호선|        2089|
|2018-01-10|     4호선|        9809|
|2018-01-10|     4호선|        4848|
|2018-01-10|     4호선|        9162|
+----------+----------+------------+
only showing top 20 rows

In [12]:
#판다스로 변환
df = pq.select("*").toPandas()
df

              사용일자    노선명  승차총승객수
0       2018-01-10  수인분당선   16346
1       2018-01-10  수인분당선    7914
2       2018-01-10  수인분당선    9461
3       2018-01-10  수인분당선   15403
4       2018-01-10  수인분당선    3431
...            ...    ...     ...
809438  2019-12-31    9호선    3525
809439  2019-12-31    9호선   38032
809440  2019-12-31   공항철도   15568
809441  2019-12-31   공항철도    2488
809442  2019-12-31   공항철도   12873

[809443 rows x 3 columns]

In [13]:
#사용일자 컬럼명 변경
df.rename(columns={"사용일자" : "월간사용일자"}, inplace=True)
df

            월간사용일자    노선명  승차총승객수
0       2018-01-10  수인분당선   16346
1       2018-01-10  수인분당선    7914
2       2018-01-10  수인분당선    9461
3       2018-01-10  수인분당선   15403
4       2018-01-10  수인분당선    3431
...            ...    ...     ...
809438  2019-12-31    9호선    3525
809439  2019-12-31    9호선   38032
809440  2019-12-31   공항철도   15568
809441  2019-12-31   공항철도    2488
809442  2019-12-31   공항철도   12873

[809443 rows x 3 columns]

In [14]:
#사용일자 컬럼이 string이라서 datetime 데이터타입으로 변환해줘야함.
df['월간사용일자'] = pd.to_datetime(df['월간사용일자'])
df.dtypes

월간사용일자    datetime64[ns]
노선명               object
승차총승객수             int32
dtype: object

### 2. 데이터 분석과정

In [15]:
#1호선인 노선만 추출
first = df[df["노선명"] == "1호선"]
first

           월간사용일자  노선명  승차총승객수
31     2018-01-10  1호선    2715
32     2018-01-10  1호선    2069
33     2018-01-10  1호선    1653
34     2018-01-10  1호선    3763
35     2018-01-10  1호선    6811
...           ...  ...     ...
809183 2019-12-31  1호선    2039
809184 2019-12-31  1호선    3035
809185 2019-12-31  1호선    1151
809186 2019-12-31  1호선    4975
809187 2019-12-31  1호선    1417

[142824 rows x 3 columns]

In [16]:
#1호선 월간 승차승객 수
first_df = first.groupby(first['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
first_df

   월간사용일자    승차총승객수
0   18-01  37718857
1   18-02  34000484
2   18-03  42911210
3   18-04  41567796
4   18-05  43021069
5   18-06  39837698
6   18-07  38947613
7   18-08  37764767
8   18-09  38615609
9   18-10  42855259
10  18-11  41913321
11  18-12  40684701
12  19-01  38968076
13  19-02  34157858
14  19-03  42272671
15  19-04  42134644
16  19-05  43814344
17  19-06  39846569
18  19-07  39854041
19  19-08  38708227
20  19-09  38763751
21  19-10  43018421
22  19-11  41097683
23  19-12  41311723
24  20-01  36453194
25  20-02  28324956
26  20-03  23317093
27  20-04  25385693
28  20-05  28770172
29  20-06  29478692
30  20-07  31400510
31  20-08  26284603
32  20-09  25076884
33  20-10  29759089
34  20-11  29739892
35  20-12  23909439
36  21-01  23842241
37  21-02  24256209
38  21-03  30607147
39  21-04  30461031
40  21-05  30197557
41  21-06  30559702
42  21-07  27070082
43  21-08  26020648
44  21-09  26896611

In [17]:
#1호선 parquet 저장
first_df.to_parquet("first_line.parquet")

In [18]:
#1호선 parquet 확인
pq = spark.read.parquet("first_line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|    37718857|
|       18-02|    34000484|
|       18-03|    42911210|
|       18-04|    41567796|
|       18-05|    43021069|
|       18-06|    39837698|
|       18-07|    38947613|
|       18-08|    37764767|
|       18-09|    38615609|
|       18-10|    42855259|
|       18-11|    41913321|
|       18-12|    40684701|
|       19-01|    38968076|
|       19-02|    34157858|
|       19-03|    42272671|
|       19-04|    42134644|
|       19-05|    43814344|
|       19-06|    39846569|
|       19-07|    39854041|
|       19-08|    38708227|
+------------+------------+
only showing top 20 rows

In [19]:
#2호선 데이터 추출
second = df[df["노선명"] == "2호선"]
second_df = second.groupby(second['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
second_df

   월간사용일자    승차총승객수
0   18-01  45887286
1   18-02  40241722
2   18-03  49033108
3   18-04  47273444
4   18-05  48249395
5   18-06  45485564
6   18-07  47356784
7   18-08  45610478
8   18-09  42607082
9   18-10  48343354
10  18-11  48332245
11  18-12  47703685
12  19-01  46899825
13  19-02  39681520
14  19-03  48049519
15  19-04  48093445
16  19-05  49356480
17  19-06  45250485
18  19-07  48199757
19  19-08  45869019
20  19-09  43219585
21  19-10  48799061
22  19-11  47429242
23  19-12  48640196
24  20-01  42976731
25  20-02  35552424
26  20-03  28815568
27  20-04  30410502
28  20-05  32989851
29  20-06  34593669
30  20-07  37456250
31  20-08  31133287
32  20-09  28447508
33  20-10  33231176
34  20-11  34182172
35  20-12  27349999
36  21-01  28078663
37  21-02  28361914
38  21-03  35308059
39  21-04  34663135
40  21-05  33943766
41  21-06  35259192
42  21-07  31126084
43  21-08  29827011
44  21-09  29701608

In [20]:
#2호선 parquet 저장 및 확인
second_df.to_parquet("second_line.parquet")
pq = spark.read.parquet("second_line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|    45887286|
|       18-02|    40241722|
|       18-03|    49033108|
|       18-04|    47273444|
|       18-05|    48249395|
|       18-06|    45485564|
|       18-07|    47356784|
|       18-08|    45610478|
|       18-09|    42607082|
|       18-10|    48343354|
|       18-11|    48332245|
|       18-12|    47703685|
|       19-01|    46899825|
|       19-02|    39681520|
|       19-03|    48049519|
|       19-04|    48093445|
|       19-05|    49356480|
|       19-06|    45250485|
|       19-07|    48199757|
|       19-08|    45869019|
+------------+------------+
only showing top 20 rows

In [21]:
#3호선
third = df[df["노선명"] == "3호선"]
third_df = third.groupby(third['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
third_df

   월간사용일자    승차총승객수
0   18-01  19761386
1   18-02  17542544
2   18-03  21525999
3   18-04  20899990
4   18-05  21604538
5   18-06  20131725
6   18-07  20571184
7   18-08  19909354
8   18-09  19287414
9   18-10  21657022
10  18-11  21525019
11  18-12  20964224
12  19-01  20490054
13  19-02  17604272
14  19-03  21305186
15  19-04  21447508
16  19-05  22192756
17  19-06  20171647
18  19-07  21075547
19  19-08  20351217
20  19-09  19673449
21  19-10  22162887
22  19-11  21594085
23  19-12  21699972
24  20-01  19205611
25  20-02  15406826
26  20-03  12386298
27  20-04  13369221
28  20-05  15088771
29  20-06  15781061
30  20-07  16909037
31  20-08  13935953
32  20-09  13025494
33  20-10  15350856
34  20-11  15636664
35  20-12  12570738
36  21-01  12900893
37  21-02  13111926
38  21-03  16204908
39  21-04  15989211
40  21-05  15707581
41  21-06  16143648
42  21-07  14439830
43  21-08  13878983
44  21-09  14114484

In [22]:
#3호선 parquet 저장 및 확인
third_df.to_parquet("third_line.parquet")
pq = spark.read.parquet("third_line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|    19761386|
|       18-02|    17542544|
|       18-03|    21525999|
|       18-04|    20899990|
|       18-05|    21604538|
|       18-06|    20131725|
|       18-07|    20571184|
|       18-08|    19909354|
|       18-09|    19287414|
|       18-10|    21657022|
|       18-11|    21525019|
|       18-12|    20964224|
|       19-01|    20490054|
|       19-02|    17604272|
|       19-03|    21305186|
|       19-04|    21447508|
|       19-05|    22192756|
|       19-06|    20171647|
|       19-07|    21075547|
|       19-08|    20351217|
+------------+------------+
only showing top 20 rows

In [23]:
#4호선
fourth = df[df["노선명"] == "4호선"]
fourth_df = fourth.groupby(fourth['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
fourth_df

   월간사용일자    승차총승객수
0   18-01  23688734
1   18-02  20940626
2   18-03  26626818
3   18-04  25962968
4   18-05  26748223
5   18-06  24767398
6   18-07  24333066
7   18-08  23350000
8   18-09  23251720
9   18-10  26409690
10  18-11  25943657
11  18-12  25389776
12  19-01  24077811
13  19-02  20764721
14  19-03  25938466
15  19-04  26145804
16  19-05  27046323
17  19-06  24545564
18  19-07  24776634
19  19-08  23757272
20  19-09  23485103
21  19-10  26328285
22  19-11  25398334
23  19-12  25673121
24  20-01  22289319
25  20-02  17999919
26  20-03  14694564
27  20-04  15623966
28  20-05  17339461
29  20-06  17927420
30  20-07  19004942
31  20-08  15612783
32  20-09  15037750
33  20-10  17670592
34  20-11  17871129
35  20-12  14467345
36  21-01  14567665
37  21-02  14623222
38  21-03  18410631
39  21-04  18244101
40  21-05  17891755
41  21-06  18307168
42  21-07  16317959
43  21-08  15546603
44  21-09  15923236

In [24]:
#4호선 parquet 저장 및 확인
fourth_df.to_parquet("fourth_line.parquet")
pq = spark.read.parquet("fourth_line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|    23688734|
|       18-02|    20940626|
|       18-03|    26626818|
|       18-04|    25962968|
|       18-05|    26748223|
|       18-06|    24767398|
|       18-07|    24333066|
|       18-08|    23350000|
|       18-09|    23251720|
|       18-10|    26409690|
|       18-11|    25943657|
|       18-12|    25389776|
|       19-01|    24077811|
|       19-02|    20764721|
|       19-03|    25938466|
|       19-04|    26145804|
|       19-05|    27046323|
|       19-06|    24545564|
|       19-07|    24776634|
|       19-08|    23757272|
+------------+------------+
only showing top 20 rows

In [25]:
#5호선
fifth = df[df["노선명"] == "5호선"]
fifth_df = fifth.groupby(fifth['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
fifth_df

   월간사용일자    승차총승객수
0   18-01  17821981
1   18-02  15512971
2   18-03  19241969
3   18-04  18973480
4   18-05  19264987
5   18-06  18014832
6   18-07  18276688
7   18-08  17600570
8   18-09  16833874
9   18-10  19277023
10  18-11  19113547
11  18-12  18484813
12  19-01  18286102
13  19-02  15446519
14  19-03  18834177
15  19-04  19439027
16  19-05  19767409
17  19-06  17915051
18  19-07  18849460
19  19-08  17953795
20  19-09  17276150
21  19-10  19596573
22  19-11  18925113
23  19-12  19266143
24  20-01  17203606
25  20-02  14593678
26  20-03  12351168
27  20-04  13057619
28  20-05  14363482
29  20-06  15081656
30  20-07  16017201
31  20-08  13509109
32  20-09  12861988
33  20-10  14832656
34  20-11  15247800
35  20-12  12666401
36  21-01  12998154
37  21-02  13021347
38  21-03  16479750
39  21-04  16556719
40  21-05  16019214
41  21-06  16516300
42  21-07  14776348
43  21-08  14125719
44  21-09  14240020

In [26]:
#5호선 parquet 저장 및 확인
fifth_df.to_parquet("fifth_line.parquet")
pq = spark.read.parquet("fifth_line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|    17821981|
|       18-02|    15512971|
|       18-03|    19241969|
|       18-04|    18973480|
|       18-05|    19264987|
|       18-06|    18014832|
|       18-07|    18276688|
|       18-08|    17600570|
|       18-09|    16833874|
|       18-10|    19277023|
|       18-11|    19113547|
|       18-12|    18484813|
|       19-01|    18286102|
|       19-02|    15446519|
|       19-03|    18834177|
|       19-04|    19439027|
|       19-05|    19767409|
|       19-06|    17915051|
|       19-07|    18849460|
|       19-08|    17953795|
+------------+------------+
only showing top 20 rows

In [27]:
#6호선
sixth = df[df["노선명"] == "6호선"]
sixth_df = sixth.groupby(sixth['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
sixth_df

   월간사용일자    승차총승객수
0   18-01  10132174
1   18-02   9006419
2   18-03  11496843
3   18-04  11108151
4   18-05  11567943
5   18-06  10602634
6   18-07  10632494
7   18-08  10229063
8   18-09  10185000
9   18-10  11811628
10  18-11  11286820
11  18-12  10938420
12  19-01  10439337
13  19-02   8930481
14  19-03  11313592
15  19-04  11276357
16  19-05  11707916
17  19-06  10596634
18  19-07  10779493
19  19-08  10275673
20  19-09  10280983
21  19-10  11796214
22  19-11  11177941
23  19-12  11138783
24  20-01   9731268
25  20-02   8227104
26  20-03   6977235
27  20-04   7268032
28  20-05   7812656
29  20-06   8184392
30  20-07   8737771
31  20-08   7284645
32  20-09   7016018
33  20-10   8083457
34  20-11   8160733
35  20-12   6689737
36  21-01   6758703
37  21-02   6831414
38  21-03   8550284
39  21-04   8471354
40  21-05   8336592
41  21-06   8547666
42  21-07   7628948
43  21-08   7320539
44  21-09   7475532

In [28]:
#6호선 parquet 저장 및 확인
sixth_df.to_parquet("sixth_line.parquet")
pq = spark.read.parquet("sixth_line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|    10132174|
|       18-02|     9006419|
|       18-03|    11496843|
|       18-04|    11108151|
|       18-05|    11567943|
|       18-06|    10602634|
|       18-07|    10632494|
|       18-08|    10229063|
|       18-09|    10185000|
|       18-10|    11811628|
|       18-11|    11286820|
|       18-12|    10938420|
|       19-01|    10439337|
|       19-02|     8930481|
|       19-03|    11313592|
|       19-04|    11276357|
|       19-05|    11707916|
|       19-06|    10596634|
|       19-07|    10779493|
|       19-08|    10275673|
+------------+------------+
only showing top 20 rows

In [29]:
#7호선
seventh = df[df["노선명"] == "7호선"]
seventh_df = seventh.groupby(seventh['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
seventh_df

   월간사용일자    승차총승객수
0   18-01  20808674
1   18-02  18321937
2   18-03  22747342
3   18-04  22251238
4   18-05  22847198
5   18-06  21242126
6   18-07  21467154
7   18-08  20765977
8   18-09  20102942
9   18-10  22709436
10  18-11  22594694
11  18-12  21729774
12  19-01  21451865
13  19-02  18303458
14  19-03  22454520
15  19-04  22872658
16  19-05  23561336
17  19-06  21218818
18  19-07  22005565
19  19-08  20847518
20  19-09  20563543
21  19-10  22737870
22  19-11  22279013
23  19-12  22203440
24  20-01  19927625
25  20-02  16858717
26  20-03  14622954
27  20-04  15401260
28  20-05  16805533
29  20-06  17508892
30  20-07  18522000
31  20-08  15674673
32  20-09  15098460
33  20-10  17066279
34  20-11  17415708
35  20-12  14754524
36  21-01  14915922
37  21-02  14581263
38  21-03  18124811
39  21-04  18039296
40  21-05  17530342
41  21-06  18081845
42  21-07  16406423
43  21-08  15582172
44  21-09  15699052

In [30]:
#7호선 parquet 저장 및 확인
seventh_df.to_parquet("seventh_line.parquet")
pq = spark.read.parquet("seventh_line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|    20808674|
|       18-02|    18321937|
|       18-03|    22747342|
|       18-04|    22251238|
|       18-05|    22847198|
|       18-06|    21242126|
|       18-07|    21467154|
|       18-08|    20765977|
|       18-09|    20102942|
|       18-10|    22709436|
|       18-11|    22594694|
|       18-12|    21729774|
|       19-01|    21451865|
|       19-02|    18303458|
|       19-03|    22454520|
|       19-04|    22872658|
|       19-05|    23561336|
|       19-06|    21218818|
|       19-07|    22005565|
|       19-08|    20847518|
+------------+------------+
only showing top 20 rows

In [31]:
#8호선
eighth = df[df["노선명"] == "8호선"]
eighth_df = eighth.groupby(eighth['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
eighth_df

   월간사용일자   승차총승객수
0   18-01  5451090
1   18-02  4772563
2   18-03  5905182
3   18-04  5793719
4   18-05  5916680
5   18-06  5523115
6   18-07  5630083
7   18-08  5445725
8   18-09  5176534
9   18-10  5973011
10  18-11  5944278
11  18-12  5786609
12  19-01  5738365
13  19-02  4882939
14  19-03  5999691
15  19-04  6132745
16  19-05  6255062
17  19-06  5679380
18  19-07  5918725
19  19-08  5574809
20  19-09  5440165
21  19-10  6076357
22  19-11  5967944
23  19-12  6074726
24  20-01  5465658
25  20-02  4560276
26  20-03  3881124
27  20-04  4101168
28  20-05  4489866
29  20-06  4701042
30  20-07  4959445
31  20-08  4182812
32  20-09  4025170
33  20-10  4617133
34  20-11  4723436
35  20-12  3993278
36  21-01  4156243
37  21-02  3977672
38  21-03  4910821
39  21-04  4828955
40  21-05  4663313
41  21-06  4812474
42  21-07  4369719
43  21-08  4158786
44  21-09  4139411

In [32]:
#8호선 parquet 저장 및 확인
eighth_df.to_parquet("eighth_line.parquet")
pq = spark.read.parquet("eighth_line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|     5451090|
|       18-02|     4772563|
|       18-03|     5905182|
|       18-04|     5793719|
|       18-05|     5916680|
|       18-06|     5523115|
|       18-07|     5630083|
|       18-08|     5445725|
|       18-09|     5176534|
|       18-10|     5973011|
|       18-11|     5944278|
|       18-12|     5786609|
|       19-01|     5738365|
|       19-02|     4882939|
|       19-03|     5999691|
|       19-04|     6132745|
|       19-05|     6255062|
|       19-06|     5679380|
|       19-07|     5918725|
|       19-08|     5574809|
+------------+------------+
only showing top 20 rows

In [33]:
#9호선
ninth = df[df["노선명"] == "9호선"]
ninth_df = ninth.groupby(ninth['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
ninth_df

   월간사용일자    승차총승객수
0   18-01   9018708
1   18-02   7876626
2   18-03   9528474
3   18-04   9509410
4   18-05   9518366
5   18-06   9031818
6   18-07   9488403
7   18-08   9180575
8   18-09   8502836
9   18-10   9696979
10  18-11   9716119
11  18-12  10618857
12  19-01  10588419
13  19-02   9004458
14  19-03  10914816
15  19-04  11359517
16  19-05  11410780
17  19-06  10560647
18  19-07  11344500
19  19-08  10820214
20  19-09  10261608
21  19-10  11567095
22  19-11  11405236
23  19-12  11713020
24  20-01  10410399
25  20-02   8637738
26  20-03   7102508
27  20-04   7537181
28  20-05   8350300
29  20-06   8918327
30  20-07   9625539
31  20-08   8156241
32  20-09   7371985
33  20-10   8599541
34  20-11   8904385
35  20-12   7207613
36  21-01   7477028
37  21-02   7583953
38  21-03   9504316
39  21-04   9370772
40  21-05   9125675
41  21-06   9561082
42  21-07   8526296
43  21-08   8168906
44  21-09   8143637

In [34]:
#9호선 parquet 저장 및 확인
ninth_df.to_parquet("ninth_line.parquet")
pq = spark.read.parquet("ninth_line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|     9018708|
|       18-02|     7876626|
|       18-03|     9528474|
|       18-04|     9509410|
|       18-05|     9518366|
|       18-06|     9031818|
|       18-07|     9488403|
|       18-08|     9180575|
|       18-09|     8502836|
|       18-10|     9696979|
|       18-11|     9716119|
|       18-12|    10618857|
|       19-01|    10588419|
|       19-02|     9004458|
|       19-03|    10914816|
|       19-04|    11359517|
|       19-05|    11410780|
|       19-06|    10560647|
|       19-07|    11344500|
|       19-08|    10820214|
+------------+------------+
only showing top 20 rows

In [35]:
#우이신설선
wooi = df[df["노선명"] == "우이신설선"]
wooi_df = wooi.groupby(wooi['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
wooi_df

   월간사용일자   승차총승객수
0   18-01  1115984
1   18-02  1020053
2   18-03  1315328
3   18-04  1285479
4   18-05  1362035
5   18-06  1262314
6   18-07  1259765
7   18-08  1222945
8   18-09  1249766
9   18-10  1400225
10  18-11  1366119
11  18-12  1301315
12  19-01  1263643
13  19-02  1102109
14  19-03  1402393
15  19-04  1403115
16  19-05  1469681
17  19-06  1333376
18  19-07  1347035
19  19-08  1282720
20  19-09  1312651
21  19-10  1455780
22  19-11  1407430
23  19-12  1384062
24  20-01  1236216
25  20-02  1020027
26  20-03   894962
27  20-04   967940
28  20-05  1071515
29  20-06  1104380
30  20-07  1173458
31  20-08   962076
32  20-09   960027
33  20-10  1118731
34  20-11  1108354
35  20-12   932113
36  21-01   924893
37  21-02   931631
38  21-03  1169087
39  21-04  1164768
40  21-05  1163836
41  21-06  1172739
42  21-07  1068301
43  21-08  1039654
44  21-09  1074789

In [37]:
#우이신설선 parquet 저장 및 확인
wooi_df.to_parquet("wooi_line.parquet")
pq = spark.read.parquet("wooi_line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|     1115984|
|       18-02|     1020053|
|       18-03|     1315328|
|       18-04|     1285479|
|       18-05|     1362035|
|       18-06|     1262314|
|       18-07|     1259765|
|       18-08|     1222945|
|       18-09|     1249766|
|       18-10|     1400225|
|       18-11|     1366119|
|       18-12|     1301315|
|       19-01|     1263643|
|       19-02|     1102109|
|       19-03|     1402393|
|       19-04|     1403115|
|       19-05|     1469681|
|       19-06|     1333376|
|       19-07|     1347035|
|       19-08|     1282720|
+------------+------------+
only showing top 20 rows

In [39]:
#경강선
kyeongkang = df[df["노선명"] == "경강선"]
kyeongkang_df = kyeongkang.groupby(kyeongkang['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
kyeongkang_df

   월간사용일자  승차총승객수
0   18-01  699511
1   18-02  640096
2   18-03  812367
3   18-04  801579
4   18-05  853184
5   18-06  789123
6   18-07  777704
7   18-08  775414
8   18-09  797383
9   18-10  901418
10  18-11  886851
11  18-12  825054
12  19-01  785050
13  19-02  698935
14  19-03  859295
15  19-04  878212
16  19-05  933785
17  19-06  850202
18  19-07  860529
19  19-08  837487
20  19-09  856998
21  19-10  951861
22  19-11  914573
23  19-12  903907
24  20-01  811369
25  20-02  646771
26  20-03  515037
27  20-04  587303
28  20-05  676220
29  20-06  713207
30  20-07  762960
31  20-08  612907
32  20-09  596460
33  20-10  743171
34  20-11  746747
35  20-12  572136
36  21-01  601827
37  21-02  606796
38  21-03  745120
39  21-04  755897
40  21-05  758717
41  21-06  779852
42  21-07  692785
43  21-08  666792
44  21-09  694561

In [42]:
#경강선 parquet 저장 및 확인
kyeongkang_df.to_parquet("kyeongkang _line.parquet")
pq = spark.read.parquet("kyeongkang _line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|      699511|
|       18-02|      640096|
|       18-03|      812367|
|       18-04|      801579|
|       18-05|      853184|
|       18-06|      789123|
|       18-07|      777704|
|       18-08|      775414|
|       18-09|      797383|
|       18-10|      901418|
|       18-11|      886851|
|       18-12|      825054|
|       19-01|      785050|
|       19-02|      698935|
|       19-03|      859295|
|       19-04|      878212|
|       19-05|      933785|
|       19-06|      850202|
|       19-07|      860529|
|       19-08|      837487|
+------------+------------+
only showing top 20 rows

In [44]:
#경춘선
kyeongchun = df[df["노선명"] == "경춘선"]
kyeongchun_df = kyeongchun.groupby(kyeongchun['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
kyeongchun_df

   월간사용일자   승차총승객수
0   18-01  1006923
1   18-02   903428
2   18-03  1211193
3   18-04  1242069
4   18-05  1344895
5   18-06  1221239
6   18-07  1198189
7   18-08  1193829
8   18-09  1200294
9   18-10  1322133
10  18-11  1229829
11  18-12  1123454
12  19-01  1070089
13  19-02   964241
14  19-03  1236373
15  19-04  1272843
16  19-05  1375585
17  19-06  1235094
18  19-07  1220670
19  19-08  1240651
20  19-09  1176353
21  19-10  1333394
22  19-11  1225777
23  19-12  1174001
24  20-01  1065277
25  20-02   845760
26  20-03   714448
27  20-04   821676
28  20-05   949191
29  20-06   966538
30  20-07  1068255
31  20-08   869150
32  20-09   831037
33  20-10  1033803
34  20-11   957546
35  20-12   752504
36  21-01   743899
37  21-02   778122
38  21-03  1004084
39  21-04  1061915
40  21-05  1062838
41  21-06  1063590
42  21-07   948560
43  21-08   939787
44  21-09   984883

In [45]:
#경춘선 parquet 저장 및 확인
kyeongchun_df.to_parquet("kyeongchun _line.parquet")
pq = spark.read.parquet("kyeongchun _line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|     1006923|
|       18-02|      903428|
|       18-03|     1211193|
|       18-04|     1242069|
|       18-05|     1344895|
|       18-06|     1221239|
|       18-07|     1198189|
|       18-08|     1193829|
|       18-09|     1200294|
|       18-10|     1322133|
|       18-11|     1229829|
|       18-12|     1123454|
|       19-01|     1070089|
|       19-02|      964241|
|       19-03|     1236373|
|       19-04|     1272843|
|       19-05|     1375585|
|       19-06|     1235094|
|       19-07|     1220670|
|       19-08|     1240651|
+------------+------------+
only showing top 20 rows

In [46]:
#경의중앙선
kyeongui = df[df["노선명"] == "경의중앙선"]
kyeongui_df = kyeongui.groupby(kyeongui['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
kyeongui_df

   월간사용일자   승차총승객수
0   18-01  5514174
1   18-02  4948412
2   18-03  6426656
3   18-04  6337781
4   18-05  6625444
5   18-06  6133822
6   18-07  6036182
7   18-08  5841090
8   18-09  5999981
9   18-10  6715749
10  18-11  6544118
11  18-12  6106411
12  19-01  5856979
13  19-02  5117671
14  19-03  6512327
15  19-04  6644988
16  19-05  6955620
17  19-06  6279728
18  19-07  6330932
19  19-08  6079058
20  19-09  6164692
21  19-10  6895206
22  19-11  6565906
23  19-12  6413895
24  20-01  5646852
25  20-02  4581643
26  20-03  3923514
27  20-04  4300527
28  20-05  4844956
29  20-06  5065055
30  20-07  5388684
31  20-08  4362635
32  20-09  4229570
33  20-10  5093798
34  20-11  5015515
35  20-12  3973000
36  21-01  3946740
37  21-02  4086156
38  21-03  5258952
39  21-04  5303191
40  21-05  5242663
41  21-06  5330144
42  21-07  4705621
43  21-08  4571012
44  21-09  4760404

In [47]:
#경의중앙선 parquet 저장 및 확인
kyeongui_df.to_parquet("kyeongui _line.parquet")
pq = spark.read.parquet("kyeongui _line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|     5514174|
|       18-02|     4948412|
|       18-03|     6426656|
|       18-04|     6337781|
|       18-05|     6625444|
|       18-06|     6133822|
|       18-07|     6036182|
|       18-08|     5841090|
|       18-09|     5999981|
|       18-10|     6715749|
|       18-11|     6544118|
|       18-12|     6106411|
|       19-01|     5856979|
|       19-02|     5117671|
|       19-03|     6512327|
|       19-04|     6644988|
|       19-05|     6955620|
|       19-06|     6279728|
|       19-07|     6330932|
|       19-08|     6079058|
+------------+------------+
only showing top 20 rows

In [48]:
#공항철도
airline = df[df["노선명"] == "공항철도"]
airline_df = airline.groupby(airline['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
airline_df

   월간사용일자   승차총승객수
0   18-01  3061504
1   18-02  2795040
2   18-03  3225826
3   18-04  3137155
4   18-05  3237594
5   18-06  3133360
6   18-07  3265937
7   18-08  3388878
8   18-09  3110974
9   18-10  3524138
10  18-11  3445346
11  18-12  3422177
12  19-01  3429836
13  19-02  3055208
14  19-03  3584527
15  19-04  3600140
16  19-05  3736138
17  19-06  3550850
18  19-07  3715001
19  19-08  3761882
20  19-09  3433023
21  19-10  3853955
22  19-11  3681332
23  19-12  3766451
24  20-01  3493041
25  20-02  2643308
26  20-03  1868994
27  20-04  1902289
28  20-05  2101875
29  20-06  2242215
30  20-07  2472111
31  20-08  2146453
32  20-09  1929531
33  20-10  2340149
34  20-11  2363850
35  20-12  1856345
36  21-01  1891435
37  21-02  1989840
38  21-03  2445953
39  21-04  2449696
40  21-05  2451805
41  21-06  2516369
42  21-07  2259831
43  21-08  2224849
44  21-09  2214767

In [49]:
#공항철도 parquet 저장 및 확인
airline_df.to_parquet("airline.parquet")
pq = spark.read.parquet("airline.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|     3061504|
|       18-02|     2795040|
|       18-03|     3225826|
|       18-04|     3137155|
|       18-05|     3237594|
|       18-06|     3133360|
|       18-07|     3265937|
|       18-08|     3388878|
|       18-09|     3110974|
|       18-10|     3524138|
|       18-11|     3445346|
|       18-12|     3422177|
|       19-01|     3429836|
|       19-02|     3055208|
|       19-03|     3584527|
|       19-04|     3600140|
|       19-05|     3736138|
|       19-06|     3550850|
|       19-07|     3715001|
|       19-08|     3761882|
+------------+------------+
only showing top 20 rows

In [50]:
#수인분당선
sooin = df[df["노선명"] == "수인분당선"]
sooin_df = sooin.groupby(sooin['월간사용일자'].dt.strftime("%y-%m")).sum().reset_index()
sooin_df

   월간사용일자    승차총승객수
0   18-01  12023736
1   18-02  10587901
2   18-03  13288031
3   18-04  12827443
4   18-05  13091576
5   18-06  12249951
6   18-07  12391528
7   18-08  11937535
8   18-09  11640007
9   18-10  13141959
10  18-11  13118463
11  18-12  12754731
12  19-01  12502563
13  19-02  10621422
14  19-03  13135724
15  19-04  13227568
16  19-05  13754838
17  19-06  12512994
18  19-07  12976959
19  19-08  12313111
20  19-09  12098674
21  19-10  13528889
22  19-11  13214873
23  19-12  13211464
24  20-01  11827427
25  20-02   9683395
26  20-03   7621312
27  20-04   8384427
28  20-05   9446601
29  20-06   9872901
30  20-07  10621697
31  20-08   8773589
32  20-09   8533844
33  20-10  10241741
34  20-11  10355081
35  20-12   8426864
36  21-01   8877148
37  21-02   8770126
38  21-03  10984676
39  21-04  10921341
40  21-05  10684112
41  21-06  11014185
42  21-07   9856717
43  21-08   9377158
44  21-09   9574471

In [52]:
#수인분당선 parquet 저장 및 확인
sooin_df.to_parquet("sooin_line.parquet")
pq = spark.read.parquet("sooin_line.parquet")
pq.show()

+------------+------------+
|월간사용일자|승차총승객수|
+------------+------------+
|       18-01|    12023736|
|       18-02|    10587901|
|       18-03|    13288031|
|       18-04|    12827443|
|       18-05|    13091576|
|       18-06|    12249951|
|       18-07|    12391528|
|       18-08|    11937535|
|       18-09|    11640007|
|       18-10|    13141959|
|       18-11|    13118463|
|       18-12|    12754731|
|       19-01|    12502563|
|       19-02|    10621422|
|       19-03|    13135724|
|       19-04|    13227568|
|       19-05|    13754838|
|       19-06|    12512994|
|       19-07|    12976959|
|       19-08|    12313111|
+------------+------------+
only showing top 20 rows