In [5]:
import pandas as pd
from pandas.api.types import CategoricalDtype

In [6]:
df = pd.DataFrame({
    'order_id': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    'customer_id': [10, 12, 12, 12, 10, 10, 10],
    'month': ['Feb', 'Jan', 'Jan', 'Feb', 'Feb', 'Jan', 'Feb'],
    'day_of_week': ['Mon', 'Wed', 'Sun', 'Tue', 'Sat', 'Mon', 'Thu'],
})

In [7]:
cat_day_of_week = CategoricalDtype(
    ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'], 
    ordered=True
)
cat_month = CategoricalDtype(
    ['Jan', 'Feb', 'Mar', 'Apr'], 
    ordered=True,
)
df['day_of_week'] = df['day_of_week'].astype(cat_day_of_week)
df['month'] = df['month'].astype(cat_month)

In [8]:
df.sort_values(['month', 'day_of_week'])

   order_id  customer_id month day_of_week
5      1006           10   Jan         Mon
1      1002           12   Jan         Wed
2      1003           12   Jan         Sun
0      1001           10   Feb         Mon
3      1004           12   Feb         Tue
6      1007           10   Feb         Thu
4      1005           10   Feb         Sat