# bus merge

In [8]:
import pandas as pd
import numpy as np
import glob
import os

## 1. TXT파일로 변환

* CSV파일이 100만줄이 넘어서 txt로 변환 후 불러와야함.

In [146]:
df = pd.read_csv("./data2/BUS_STATION_BOARDING_MONTH_202110.txt", encoding="euc-kr", names = ["사용일자","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
df

C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20211001,130,130번(우이동~길동),09003,수유역,221,163,20211004.0
1,20211001,100,100번(하계동~용산구청),11428,한성여객종점,22,1,20211004.0
2,20211001,100,100번(하계동~용산구청),11387,노원평생학습관,12,1,20211004.0
3,20211001,100,100번(하계동~용산구청),11374,서울시립북서울미술관,52,1,20211004.0
4,20211001,100,100번(하계동~용산구청),03325,서빙고역1번출구,49,51,20211004.0
...,...,...,...,...,...,...,...,...
1191676,20211031,마포11,마포11(신촌전철역~마포역),14856,굴다리시장,33,21,20211103.0
1191677,20211031,5714,5714번(광명공영차고지~이대입구),19120,영등포시장,233,346,20211103.0
1191678,20211031,마포12,마포12(신촌전철역~마포역),14855,신석초등학교,70,66,20211103.0
1191679,20211031,173,173번(월계동~연세대),14152,서울대동창회관,76,67,20211103.0
1191680,20211031,5714,5714번(광명공영차고지~이대입구),19821,경방타임스퀘어.신세계백화점,368,773,20211103.0

### TXT파일 문제있는 파일
* 인코딩 불가 - 19년 9,11, 20년 1 >> 다시 다운받으니 해결
* cp949 - 20년 9 >> 다시 다운받으니 해결
* 날짜 칸 밀린것 - 20년 5,6,7 >> utf-8로 열림
* 컬럼 명 오류 - 19년 12월 >> utf-8로 열림

In [63]:
#컬럼명 오류인 파일 불러오기1
df12 = pd.read_csv("./data2/2019/BUS_STATION_BOARDING_MONTH_201912_1.csv", encoding="euc-kr", names = ["사용일자","노선ID","노선번호","노선명","표준버스정류장ID","버스정류장ARS번호","역ID","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
df12

,사용일자,노선ID,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역ID,역명,승차총승객수,하차총승객수,등록일자
0,20191201,11110001,100,100번(하계동~용산구청),110000327,11428,8000658,한성여객종점,13,0,20191204
1,20191201,41110060,6513,6513번(철산동~서울대),119000021,20107,9612,공군회관,109,75,20191204
2,20191201,41110060,6513,6513번(철산동~서울대),119000020,20106,72789,서울지방병무청앞,71,68,20191204
3,20191201,41110060,6513,6513번(철산동~서울대),119000006,20006,8003058,강남중학교,108,86,20191204
4,20191201,41110060,6513,6513번(철산동~서울대),119000051,20144,9542,서울공업고등학교,165,94,20191204
...,...,...,...,...,...,...,...,...,...,...,...
1194198,20191231,11110706,영등포01,영등포01(신도림역~구로디지털단지역),118900031,19542,9008652,농협.대림2동주민센터,108,86,20200103
1194199,20191231,11110374,6640B,6640B번(양천차고지~양천차고지),116900276,17202,9030450,천왕역,171,101,20200103
1194200,20191231,11110178,2112,2112번(면목동~성북동),105000182,06268,75500,장평중학교,42,41,20200103
1194201,20191231,11111166,은평10,은평10(숭실고등학교~산새마을),111000072,12160,9102928,상신초등학교,111,55,20200103
1194202,20191231,11110374,6640B,6640B번(양천차고지~양천차고지),116000113,17203,9036196,오류2동주민센터,95,60,20200103

In [64]:
#컬럼명 갖게 하기 위해 필요없는컬럼 제거
df12 = df12.drop(["노선ID", "표준버스정류장ID", "역ID"], axis=1)
df12

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20191201,100,100번(하계동~용산구청),11428,한성여객종점,13,0,20191204
1,20191201,6513,6513번(철산동~서울대),20107,공군회관,109,75,20191204
2,20191201,6513,6513번(철산동~서울대),20106,서울지방병무청앞,71,68,20191204
3,20191201,6513,6513번(철산동~서울대),20006,강남중학교,108,86,20191204
4,20191201,6513,6513번(철산동~서울대),20144,서울공업고등학교,165,94,20191204
...,...,...,...,...,...,...,...,...
1194198,20191231,영등포01,영등포01(신도림역~구로디지털단지역),19542,농협.대림2동주민센터,108,86,20200103
1194199,20191231,6640B,6640B번(양천차고지~양천차고지),17202,천왕역,171,101,20200103
1194200,20191231,2112,2112번(면목동~성북동),06268,장평중학교,42,41,20200103
1194201,20191231,은평10,은평10(숭실고등학교~산새마을),12160,상신초등학교,111,55,20200103
1194202,20191231,6640B,6640B번(양천차고지~양천차고지),17203,오류2동주민센터,95,60,20200103

In [68]:
#파일 저장
df12.to_csv("BUS_STATION_BOARDING_MONTH_201912.csv")

In [67]:
#파일 확인
df12 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_201912.", encoding="utf-8", names = ["사용일자","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
df12

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20191201,100,100번(하계동~용산구청),11428,한성여객종점,13,0,20191204
1,20191201,6513,6513번(철산동~서울대),20107,공군회관,109,75,20191204
2,20191201,6513,6513번(철산동~서울대),20106,서울지방병무청앞,71,68,20191204
3,20191201,6513,6513번(철산동~서울대),20006,강남중학교,108,86,20191204
4,20191201,6513,6513번(철산동~서울대),20144,서울공업고등학교,165,94,20191204
...,...,...,...,...,...,...,...,...
1194198,20191231,영등포01,영등포01(신도림역~구로디지털단지역),19542,농협.대림2동주민센터,108,86,20200103
1194199,20191231,6640B,6640B번(양천차고지~양천차고지),17202,천왕역,171,101,20200103
1194200,20191231,2112,2112번(면목동~성북동),06268,장평중학교,42,41,20200103
1194201,20191231,은평10,은평10(숭실고등학교~산새마을),12160,상신초등학교,111,55,20200103
1194202,20191231,6640B,6640B번(양천차고지~양천차고지),17203,오류2동주민센터,95,60,20200103

In [32]:
#컬럼명 오류인 파일 불러오기2
df7 = pd.read_csv("./data2/2020/BUS_STATION_BOARDING_MONTH_202007.txt", encoding="euc-kr", names = ["사용일자","지울것","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
df7

,사용일자,지울것,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20200701,11110001,100,100번(하계동~용산구청),11428,한성여객종점,19,8,20200704
1,20200701,11110001,100,100번(하계동~용산구청),11373,중계역,51,9,20200704
2,20200701,11110001,100,100번(하계동~용산구청),11376,중계역2번출구,121,22,20200704
3,20200701,11110001,100,100번(하계동~용산구청),11426,하계역,579,238,20200704
4,20200701,11110001,100,100번(하계동~용산구청),08009,삼선교.한성대학교,131,259,20200704
...,...,...,...,...,...,...,...,...,...
1202638,20200731,91000034,9714,9714번(교하운정~서울역),35626,행신초등학교(중),7,21,20200803
1202639,20200731,91000034,9714,9714번(교하운정~서울역),63656,청석마을8단지,0,31,20200803
1202640,20200731,91000034,9714,9714번(교하운정~서울역),13005,모래내시장.가좌역,5,10,20200803
1202641,20200731,91000034,9714,9714번(교하운정~서울역),12008,디지털미디어시티역,25,1,20200803
1202642,20200731,91000034,9714,9714번(교하운정~서울역),36695,일산동구청(중),13,44,20200803

In [33]:
#컬럼명 갖게 하기 위해 필요없는컬럼 제거
df7 = df7.drop(["지울것"],axis=1)
df7

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20200701,100,100번(하계동~용산구청),11428,한성여객종점,19,8,20200704
1,20200701,100,100번(하계동~용산구청),11373,중계역,51,9,20200704
2,20200701,100,100번(하계동~용산구청),11376,중계역2번출구,121,22,20200704
3,20200701,100,100번(하계동~용산구청),11426,하계역,579,238,20200704
4,20200701,100,100번(하계동~용산구청),08009,삼선교.한성대학교,131,259,20200704
...,...,...,...,...,...,...,...,...
1202638,20200731,9714,9714번(교하운정~서울역),35626,행신초등학교(중),7,21,20200803
1202639,20200731,9714,9714번(교하운정~서울역),63656,청석마을8단지,0,31,20200803
1202640,20200731,9714,9714번(교하운정~서울역),13005,모래내시장.가좌역,5,10,20200803
1202641,20200731,9714,9714번(교하운정~서울역),12008,디지털미디어시티역,25,1,20200803
1202642,20200731,9714,9714번(교하운정~서울역),36695,일산동구청(중),13,44,20200803

In [35]:
#파일 저장
df7.to_csv("BUS_STATION_BOARDING_MONTH_202007_1.csv")

In [37]:
df7 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202007_1.csv", encoding="utf-8")
df7

,Unnamed: 0,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,0,20200701,100,100번(하계동~용산구청),11428,한성여객종점,19,8,20200704
1,1,20200701,100,100번(하계동~용산구청),11373,중계역,51,9,20200704
2,2,20200701,100,100번(하계동~용산구청),11376,중계역2번출구,121,22,20200704
3,3,20200701,100,100번(하계동~용산구청),11426,하계역,579,238,20200704
4,4,20200701,100,100번(하계동~용산구청),08009,삼선교.한성대학교,131,259,20200704
...,...,...,...,...,...,...,...,...,...
1202638,1202638,20200731,9714,9714번(교하운정~서울역),35626,행신초등학교(중),7,21,20200803
1202639,1202639,20200731,9714,9714번(교하운정~서울역),63656,청석마을8단지,0,31,20200803
1202640,1202640,20200731,9714,9714번(교하운정~서울역),13005,모래내시장.가좌역,5,10,20200803
1202641,1202641,20200731,9714,9714번(교하운정~서울역),12008,디지털미디어시티역,25,1,20200803
1202642,1202642,20200731,9714,9714번(교하운정~서울역),36695,일산동구청(중),13,44,20200803

In [39]:
df7 = df7.drop("Unnamed: 0", axis=1)
df7

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20200701,100,100번(하계동~용산구청),11428,한성여객종점,19,8,20200704
1,20200701,100,100번(하계동~용산구청),11373,중계역,51,9,20200704
2,20200701,100,100번(하계동~용산구청),11376,중계역2번출구,121,22,20200704
3,20200701,100,100번(하계동~용산구청),11426,하계역,579,238,20200704
4,20200701,100,100번(하계동~용산구청),08009,삼선교.한성대학교,131,259,20200704
...,...,...,...,...,...,...,...,...
1202638,20200731,9714,9714번(교하운정~서울역),35626,행신초등학교(중),7,21,20200803
1202639,20200731,9714,9714번(교하운정~서울역),63656,청석마을8단지,0,31,20200803
1202640,20200731,9714,9714번(교하운정~서울역),13005,모래내시장.가좌역,5,10,20200803
1202641,20200731,9714,9714번(교하운정~서울역),12008,디지털미디어시티역,25,1,20200803
1202642,20200731,9714,9714번(교하운정~서울역),36695,일산동구청(중),13,44,20200803

In [41]:
#다시 csv파일로 저장
df7.to_csv("BUS_STATION_BOARDING_MONTH_202007_2.csv")

In [45]:
#컬럼명 오류인 파일 불러오기3
df6 = pd.read_csv("./data2/2020/BUS_STATION_BOARDING_MONTH_202006.txt", encoding="euc-kr", names = ["사용일자","지울것","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
df6

,사용일자,지울것,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20200601,41110116,9709,9709번(파주시 맥금동~서울역),12023,불광역3호선.서울혁신파크,7,1,20200604
1,20200601,41110116,9709,9709번(파주시 맥금동~서울역),12026,한전성서지사.북한산푸르지오,5,5,20200604
2,20200601,41110116,9709,9709번(파주시 맥금동~서울역),12025,한전성서지사.북한산푸르지오,1,2,20200604
3,20200601,41110116,9709,9709번(파주시 맥금동~서울역),12028,녹번역,3,8,20200604
4,20200601,41110116,9709,9709번(파주시 맥금동~서울역),12027,녹번역,9,3,20200604
...,...,...,...,...,...,...,...,...,...
1162348,20200630,91000034,9714,9714번(교하운정~서울역),63657,트리플메디컬타운,90,1,20200703
1162349,20200630,91000034,9714,9714번(교하운정~서울역),63659,중앙공원,32,0,20200703
1162350,20200630,91000034,9714,9714번(교하운정~서울역),63674,책향기마을,38,1,20200703
1162351,20200630,91000034,9714,9714번(교하운정~서울역),36601,대화역,18,71,20200703
1162352,20200630,91000034,9714,9714번(교하운정~서울역),36691,문촌마을(중),5,1,20200703

In [46]:
#컬럼명 갖게 하기 위해 필요없는컬럼 제거
df6 = df6.drop(["지울것"],axis=1)
df6

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20200601,9709,9709번(파주시 맥금동~서울역),12023,불광역3호선.서울혁신파크,7,1,20200604
1,20200601,9709,9709번(파주시 맥금동~서울역),12026,한전성서지사.북한산푸르지오,5,5,20200604
2,20200601,9709,9709번(파주시 맥금동~서울역),12025,한전성서지사.북한산푸르지오,1,2,20200604
3,20200601,9709,9709번(파주시 맥금동~서울역),12028,녹번역,3,8,20200604
4,20200601,9709,9709번(파주시 맥금동~서울역),12027,녹번역,9,3,20200604
...,...,...,...,...,...,...,...,...
1162348,20200630,9714,9714번(교하운정~서울역),63657,트리플메디컬타운,90,1,20200703
1162349,20200630,9714,9714번(교하운정~서울역),63659,중앙공원,32,0,20200703
1162350,20200630,9714,9714번(교하운정~서울역),63674,책향기마을,38,1,20200703
1162351,20200630,9714,9714번(교하운정~서울역),36601,대화역,18,71,20200703
1162352,20200630,9714,9714번(교하운정~서울역),36691,문촌마을(중),5,1,20200703

In [47]:
#파일 저장
df6.to_csv("BUS_STATION_BOARDING_MONTH_202006.csv")

In [49]:
#파일 확인
df6 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202006.csv", encoding="utf-8")
df6

,Unnamed: 0,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,0,20200601,9709,9709번(파주시 맥금동~서울역),12023,불광역3호선.서울혁신파크,7,1,20200604
1,1,20200601,9709,9709번(파주시 맥금동~서울역),12026,한전성서지사.북한산푸르지오,5,5,20200604
2,2,20200601,9709,9709번(파주시 맥금동~서울역),12025,한전성서지사.북한산푸르지오,1,2,20200604
3,3,20200601,9709,9709번(파주시 맥금동~서울역),12028,녹번역,3,8,20200604
4,4,20200601,9709,9709번(파주시 맥금동~서울역),12027,녹번역,9,3,20200604
...,...,...,...,...,...,...,...,...,...
1162348,1162348,20200630,9714,9714번(교하운정~서울역),63657,트리플메디컬타운,90,1,20200703
1162349,1162349,20200630,9714,9714번(교하운정~서울역),63659,중앙공원,32,0,20200703
1162350,1162350,20200630,9714,9714번(교하운정~서울역),63674,책향기마을,38,1,20200703
1162351,1162351,20200630,9714,9714번(교하운정~서울역),36601,대화역,18,71,20200703
1162352,1162352,20200630,9714,9714번(교하운정~서울역),36691,문촌마을(중),5,1,20200703

In [50]:
#필요없는 컬럼 삭제
df6 = df6.drop("Unnamed: 0", axis=1)
df6

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20200601,9709,9709번(파주시 맥금동~서울역),12023,불광역3호선.서울혁신파크,7,1,20200604
1,20200601,9709,9709번(파주시 맥금동~서울역),12026,한전성서지사.북한산푸르지오,5,5,20200604
2,20200601,9709,9709번(파주시 맥금동~서울역),12025,한전성서지사.북한산푸르지오,1,2,20200604
3,20200601,9709,9709번(파주시 맥금동~서울역),12028,녹번역,3,8,20200604
4,20200601,9709,9709번(파주시 맥금동~서울역),12027,녹번역,9,3,20200604
...,...,...,...,...,...,...,...,...
1162348,20200630,9714,9714번(교하운정~서울역),63657,트리플메디컬타운,90,1,20200703
1162349,20200630,9714,9714번(교하운정~서울역),63659,중앙공원,32,0,20200703
1162350,20200630,9714,9714번(교하운정~서울역),63674,책향기마을,38,1,20200703
1162351,20200630,9714,9714번(교하운정~서울역),36601,대화역,18,71,20200703
1162352,20200630,9714,9714번(교하운정~서울역),36691,문촌마을(중),5,1,20200703

In [51]:
#다시 csv파일로 저장
df6.to_csv("BUS_STATION_BOARDING_MONTH_202006_2.csv")

In [53]:
#컬럼명 오류인 파일 불러오기4
df5 = pd.read_csv("./data2/2020/BUS_STATION_BOARDING_MONTH_202005.txt", encoding="euc-kr", names = ["사용일자","지울것","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
df5

,사용일자,지울것,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20200501,11110155,1154,1154번(하계동~장암동),11358,롯데마트,146,13,20200504
1,20200501,11110814,1167,1167번(우이동~은행사거리),10337,방학중학교,21,70,20200504
2,20200501,11110957,3316,3316번(마천동~천호역),24279,종점,31,0,20200504
3,20200501,91000034,9714,9714번(교하운정~서울역),12008,디지털미디어시티역,20,2,20200504
4,20200501,11110966,320,320번(송파차고지~상봉터미널),07313,동원시장,188,80,20200504
...,...,...,...,...,...,...,...,...,...
1199569,20200531,11110056,601,601번(개화동~종로4가),16013,발산역,90,322,20200603
1199570,20200531,41110065,6638,6638번(철산동~오목교),38075,철산우성아파트,0,34,20200603
1199571,20200531,41110065,6638,6638번(철산동~오목교),17166,경인중학교,152,60,20200603
1199572,20200531,41110065,6638,6638번(철산동~오목교),38062,세풍운수종점,12,1,20200603
1199573,20200531,41110065,6638,6638번(철산동~오목교),15199,갈산초등학교후문,12,48,20200603

In [54]:
#컬럼명 갖게 하기 위해 필요없는컬럼 제거
df5 = df5.drop(["지울것"],axis=1)
df5

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20200501,1154,1154번(하계동~장암동),11358,롯데마트,146,13,20200504
1,20200501,1167,1167번(우이동~은행사거리),10337,방학중학교,21,70,20200504
2,20200501,3316,3316번(마천동~천호역),24279,종점,31,0,20200504
3,20200501,9714,9714번(교하운정~서울역),12008,디지털미디어시티역,20,2,20200504
4,20200501,320,320번(송파차고지~상봉터미널),07313,동원시장,188,80,20200504
...,...,...,...,...,...,...,...,...
1199569,20200531,601,601번(개화동~종로4가),16013,발산역,90,322,20200603
1199570,20200531,6638,6638번(철산동~오목교),38075,철산우성아파트,0,34,20200603
1199571,20200531,6638,6638번(철산동~오목교),17166,경인중학교,152,60,20200603
1199572,20200531,6638,6638번(철산동~오목교),38062,세풍운수종점,12,1,20200603
1199573,20200531,6638,6638번(철산동~오목교),15199,갈산초등학교후문,12,48,20200603

In [55]:
#파일 저장
df5.to_csv("BUS_STATION_BOARDING_MONTH_202005.csv")

In [56]:
#파일 확인
df5 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202005.csv", encoding="utf-8", names = ["사용일자","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
df5

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20200501,1154,1154번(하계동~장암동),11358,롯데마트,146,13,20200504
1,20200501,1167,1167번(우이동~은행사거리),10337,방학중학교,21,70,20200504
2,20200501,3316,3316번(마천동~천호역),24279,종점,31,0,20200504
3,20200501,9714,9714번(교하운정~서울역),12008,디지털미디어시티역,20,2,20200504
4,20200501,320,320번(송파차고지~상봉터미널),07313,동원시장,188,80,20200504
...,...,...,...,...,...,...,...,...
1199569,20200531,601,601번(개화동~종로4가),16013,발산역,90,322,20200603
1199570,20200531,6638,6638번(철산동~오목교),38075,철산우성아파트,0,34,20200603
1199571,20200531,6638,6638번(철산동~오목교),17166,경인중학교,152,60,20200603
1199572,20200531,6638,6638번(철산동~오목교),38062,세풍운수종점,12,1,20200603
1199573,20200531,6638,6638번(철산동~오목교),15199,갈산초등학교후문,12,48,20200603

In [ ]:
df5 = pd.read_csv("./BUS_STATION_BOARDING_MONTH_202005.csv", encoding="utf-8", names = ["사용일자","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
df5

### txt 변환 완료!

## 2. merge 과정

* 연도별로 나눠서 merge
* 용량이 너무 커서 parquet으로 저장하려고함

### 2021년

In [6]:
#csv 합치기
input_file = r"C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2021"
output_file = r'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/2021_bus_per_date.txt'

allFile_list = glob.glob(os.path.join(input_file,'BUS_STATION_BOARDING_MONTH_*'))
print(allFile_list)
allData = []
for file in allFile_list:
    df = pd.read_csv(file, encoding='euc-kr', names = ["사용일자","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
    allData.append(df)

dataCombine = pd.concat(allData, axis=0, ignore_index=True)
dataCombine.to_csv(output_file,encoding='euc-kr', index=False)

['C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2021\\BUS_STATION_BOARDING_MONTH_202101.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2021\\BUS_STATION_BOARDING_MONTH_202102.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2021\\BUS_STATION_BOARDING_MONTH_202103.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2021\\BUS_STATION_BOARDING_MONTH_202104.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2021\\BUS_STATION_BOARDING_MONTH_202105.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2021\\BUS_STATION_BOARDING_MONTH_202106.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2021\\BUS_STATION_BOARDING_MONTH_202107.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2021\\BUS_STATION_BOARDING_MONTH_202108.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2021\\BUS_STATION_BOARDING_MONTH_202109.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2021\\BUS_STATION_BOARDING_MONTH_202110.txt']

C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0,5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
#확인
df1 = pd.read_csv("./2021_bus_per_date.txt", encoding="euc-kr", names = ["사용일자","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
df1

C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20210101,100,100번(하계동~용산구청),11428,한성여객종점,12.0,0,20210104
1,20210101,100,100번(하계동~용산구청),11374,서울시립북서울미술관,8.0,0,20210104
2,20210101,100,100번(하계동~용산구청),11380,목련아파트상가,86.0,14,20210104
3,20210101,100,100번(하계동~용산구청),11339,월계헬스케어센터,112.0,44,20210104
4,20210101,100,100번(하계동~용산구청),01002,창경궁.서울대학교병원,21.0,23,20210104
...,...,...,...,...,...,...,...,...
11673774,20211031,마포11,마포11(신촌전철역~마포역),14856,굴다리시장,33,21,20211103.0
11673775,20211031,5714,5714번(광명공영차고지~이대입구),19120,영등포시장,233,346,20211103.0
11673776,20211031,마포12,마포12(신촌전철역~마포역),14855,신석초등학교,70,66,20211103.0
11673777,20211031,173,173번(월계동~연세대),14152,서울대동창회관,76,67,20211103.0
11673778,20211031,5714,5714번(광명공영차고지~이대입구),19821,경방타임스퀘어.신세계백화점,368,773,20211103.0

In [9]:
#인덱스 값 확인
df1["사용일자"].unique()

array([20210101, 20210102, 20210103, 20210104, 20210105, 20210211,
       20210106, 20210107, 20210108, 20210109, 20210110, 20210111,
       20210112, 20210113, 20210114, 20210115, 20210116, 20210117,
       20210118, 20210119, 20210120, 20210121, 20210122, 20210123,
       20210124, 20210125, 20210126, 20210127, 20210128, 20210129,
       20210130, 20210131, 20210201, 20210202, 20210203, 20210204,
       20210205, 20210206, 20210207, 20210208, 20210209, 20210210,
       20210427, 20210212, '20210212', '20210213', '202악攬英맏뮐側?,29"',
       '20210829', '20210214', 20210214, 20210215, 20210216, 20210217,
       20210218, 20210219, 20210220, 20210221, 20210222, 20210223,
       20210224, 20210225, 20210226, 20210227, 20210228, 20210301,
       20210302, 20210303, 20210304, 20210305, 20210821, 20210306,
       20210307, 20210308, 20210309, 20210310, 20210311, 314, 20210312,
       20210220210312, 20210313, 20210314, 20210315, 20210316, 20210317,
       20210426, 20210318, 20210319, 20210320, 20210321, 20210322,
       20210323, 20210324, 20210325, 20210326, 20210327, 20210328,
       20210329, 20210330, 20210331, 20210401, 20210402, 20210403,
       20210404, 20210405, 20210406, 20210407, 20210408, 20210409,
       20210410, 20210411, 20210412, 20210413, 20210414, 20210415,
       20210416, 20210417, 20210418, '20210418', '20210419',
       '2021041917219"', '20210420', 20210420, 20210421, 20210422,
       20210423, 20210424, 20210425, 20210428, 20210429, 20210430,
       20210501, 20210502, 20210503, 20210504, 20210505, 20210506,
       20210507, 20210508, 20210509, 20210510, 20210511, 20210512,
       20210513, 20210514, 20210515, 20210516, 20210517, 20210518,
       20210519, 20210520, 20210521, 20210522, 20210928, 20210523,
       20210524, 20210525, 20210526, 20210527, 20210528, 20210529,
       20210530, 20210531, 20210601, 20210602, 20210603, 20210604,
       20210605, 20210606, 20210607, 20210608, 20210609, 20210610,
       20210611, 20210612, 20210613, 20210614, 20210615, 20210616,
       20210617, 20210618, 20210619, 2021010518, 20210620, 20210621,
       20210622, 20210623, 20210624, 20210625, 20210626, 20210627,
       20210628, 20210629, 20210630, 20210701, 20210702, 20210703,
       20210704, 20210705, 20210706, 20210707, 20210708, 20210709,
       '20210709', '20210701번(양천공영차고지~상계동차고지)', '20210512', '20210710',
       '20210711', 20210711, 20210712, 20210713, 20210714, 20210715,
       20210716, 20210717, 20210718, 20210719, 20210816, 20210720,
       20210721, 20210722, 20210723, 20210724, 20210725, 20210726,
       20210727, 20210728, 20210729, 20210730, 20210731, '20210731',
       '20210731290"', '20210801', '20210802', 20210802, 20210803,
       20210804, 20210805, 20210806, 20210807, 20210808, 20210809,
       20210810, 20210811, 20210812, 20210813, 20210814, 20210815,
       20210817, 20210818, 20210819, 20210820, 20210822, 20210823,
       20210824, 20210825, 20210826, 20210827, 20210828, 20210829,
       20210830, 20210831, '20210831', '20210901',
       '2021092번(B,용두초교방향,서오릉~종로1가)', '20210902', 20210902, 20210903,
       20210904, 20210905, 20210906, 20210907, 20210908, 20210909,
       20210910, 20210911, 20210912, 20210913, 20210914, 20210915,
       20210916, 20210917, 20210918, 20210919, 20210920, 20210921,
       20210922, 2021, 20210923, 20210924, 20210925, 20210926, 20210927,
       20210929, 20210930, 20211001, 20211002, 20211003, 20211004,
       20211005, 20191127, 20211006, 20211007, 20211008, 20211009,
       20211010, 20211010211013, 20211011, 20211012, 20211013, 20211014,
       20211015, 20211016, 20211017, 20211018, 20211019, 20211020,
       20211021, 20211022, 20211023, 20211024, 20211025, 20211026,
       20211027, 20211028, 20211029, 20211030, 20211031], dtype=object)

### 2020년

In [8]:
#csv 합치기
input_file = r"C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2020"
output_file = r'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/2020_bus_per_date.txt'

allFile_list = glob.glob(os.path.join(input_file,'BUS_STATION_BOARDING_MONTH_*'))
print(allFile_list)
allData = []
for file in allFile_list:
    df = pd.read_csv(file, encoding='euc-kr', names = ["사용일자","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
    allData.append(df)

dataCombine = pd.concat(allData, axis=0, ignore_index=True)
dataCombine.to_csv(output_file,encoding='euc-kr', index=False)

['C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2020\\BUS_STATION_BOARDING_MONTH_202001.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2020\\BUS_STATION_BOARDING_MONTH_202002.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2020\\BUS_STATION_BOARDING_MONTH_202003.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2020\\BUS_STATION_BOARDING_MONTH_202004.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2020\\BUS_STATION_BOARDING_MONTH_202005.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2020\\BUS_STATION_BOARDING_MONTH_202006.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2020\\BUS_STATION_BOARDING_MONTH_202007.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2020\\BUS_STATION_BOARDING_MONTH_202008.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2020\\BUS_STATION_BOARDING_MONTH_202009.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2020\\BUS_STATION_BOARDING_MONTH_202010.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2020\\BUS_STATION_BOARDING_MONTH_202011.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2020\\BUS_STATION_BOARDING_MONTH_202012.txt']

C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (1,6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
#확인
df2 = pd.read_csv("./2020_bus_per_date.txt", encoding="euc-kr", names = ["사용일자","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
df2

C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20200101,N62,N62번(양천공영차고지~면목동차고지),04133,왕십리역,0,13,20200104
1,20200101,N62,N62번(양천공영차고지~면목동차고지),04136,행당1동주민센터.성동소방서,2,3,20200104
2,20200101,N62,N62번(양천공영차고지~면목동차고지),04186,성동교남단,0,2,20200104
3,20200101,N62,N62번(양천공영차고지~면목동차고지),04256,성수사거리,0,3,20200104
4,20200101,N62,N62번(양천공영차고지~면목동차고지),05115,국립서울병원앞,1,0,20200104
...,...,...,...,...,...,...,...,...
14125693,20201231,서초13,서초13(이수역~동덕여고),22900,동덕여고,116.0,168,20210103
14125694,20201231,5714,5714번(광명공영차고지~이대입구),19125,삼환아파트,241.0,229,20210103
14125695,20201231,마포01,마포01(산천동리버힐삼성아파트~용문시장),03520,도원삼성래미안아파트101동앞,5.0,5,20210103
14125696,20201231,8331,8331번(마천사거리~잠실역),24302,마천2동윤진빌딩.신동아아파트,44.0,0,20210103
14125697,20201231,5714,5714번(광명공영차고지~이대입구),19121,신화병원,264.0,139,20210103

In [11]:
#인덱스 값 확인
df2["사용일자"].unique()

array([20200101, 20200102, 20200103, 20200104, 20200105, 20200106,
       20200107, 20200108, 20200109, 20200110, 20200111, 20200112,
       20200113, 20200114, 20200115, 20200116, 20200117, 20200118,
       20200119, 20200120, 20200121, 20200122, 20200123, 20200124,
       20200125, 20200126, 20200127, 20200128, 20200129, 20200130,
       20200131, 20200201, 20200202, 20200203, 20200204, 20200205,
       20200206, 20200207, 20200208, 20200209, 20200210, 20200211,
       20200212, 20200213, 20200214, 20200215, 20200216, 20200217,
       20200218, 20200219, 20200220, 20200221, 20200222, 20200223,
       20200224, 20200225, 20200226, 20200227, 20200228, 20200229,
       20200301, 20200725, 20200302, 20200303, 20200304, 20200305,
       20200306, 20200307, 20200308, 20200309, 20200310, 20200311,
       20200312, 20200313, 20200314, 20200315, 20200316, 20200517,
       20200317, 20200318, 20200319, 20200320, 20200321, 20200322,
       20200323, 20200324, 20200325, 20200326, 20200327, 20200328,
       20200329, 20200330, 20200331, 20200401, 20200402, 20200403,
       20200404, 20200405, 20200406, 20200407, 20200408, 20200409,
       20200410, 20200411, 20200412, 20200413, 20200414, 20200415,
       20200416, 20200417, 20200418, 20200419, 20200420, 20200421,
       20200422, 20200423, 20200424, 20200425, 20200426, 20200427,
       20200428, 20200429, 20200430, 20200501, 20200502, 20200503,
       20200504, 20200505, 20200506, 20200507, 20200508, 20200509,
       20200510, 20200511, 20200512, 20200513, 20200514, 20200515,
       20200516, 20200518, 202001, 20200519, 20200520, 20200521, 20200522,
       20200618, 20200523, 20200524, 20200525, 20200526, 20200527,
       20200528, 20200529, 20200530, 20200531, 20200601, 20200602,
       20200603, 20200604, 20200605, 20200606, 20200607, 20200608,
       20200609, 20200610, 20200611, 20200612, 20200613, 20200200616,
       20200614, 20200615, 20200616, 20200617, 20200619, 20200620,
       20200621, 20200622, 20200623, 20200624, 20200625, 20200626,
       20200627, 20200628, 20200629, 20200630, 20200701, 20200702,
       20200703, 20200704, 20200705, 20200706, 20200707, 20200708,
       20200709, 20200710, 20200711, 20200712, 20200713, 20200714,
       20200715, 20200716, 20200717, '20200717', '20200718', '20201021',
       '4(경향파크아파트~불광역)"', '20200719', 20200719, 20200720, 20200721,
       20200722, 20200723, 20200724, 20200726, 20200727, 20200728,
       20200729, 20200730, 20200731, 20200801, 20200802, 20200803,
       20200804, 20200805, 20200806, 20200807, 20200808, 20200809,
       20200810, 20200811, 20200812, 20200813, 20200814, 20200815,
       20200816, 20200817, 20200818, 20200819, 20200820, 20200821,
       20200822, 20200929, 20200823, 20200824, 20200825, 20200826,
       20200827, 20200828, 20200829, 20200830, 20200831, 20200901,
       20200902, 20200903, 20200904, 20200905, 20200906, 20200907,
       20200908, 20200909, 20200910, 20200911, 20200912, 20200913,
       20200914, 20200915, 20200916, 20200917, 20200918, 20200919,
       20200920, 20200921, 20200922, 20200923, 20200924, 20200925,
       20200926, 20200927, 20200928, 20200930, 20201001, 20201002,
       20201003, 20201004, 20201005, 20201006, 20201007, '20201007',
       'と?쩌씽?서울역환승센터)"', '20201008', 20201008, 20201009, 20201010,
       20201011, 20201012, 20201013, 20201014, 20201015, 20201016,
       20201017, 20201018, 20201019, 20201020, 20201021, 20201022,
       20201023, 20201024, 20201025, 20201026, 20201027, 20201028,
       20201029, 20201030, 20201031, 20201101, 20201102, 20201103,
       20201104, 20201206, 20201105, 20201106, 20201107, 20201108,
       20201109, 20201110, 20201111, 20201112, 20201113, 20201114,
       20201115, 20201116, 20201117, 20201118, 20201119, 20201120,
       20201121, 20201122, 20201123, 20201124, 20201125, 20201126,
       20201127, 20201128, 20201129, 20201130, 20201201, 20201202,
       20201203, 20201204, 20201205, '20201205', '20201206', '迷箚?"',
       '20200803', '20201207', 20201207, 20201208, 20201209, 20201210,
       20201211, 20201212, 20201213, 20201214, 20201215, 20201216,
       20201217, 20201218, 20201219, 20201220, 20201221, 20201222,
       20201223, 20201224, 20201225, 20201226, 20201227, 20201228,
       20201229, 20201230, 20201231], dtype=object)

### 2019년

In [2]:
#csv 합치기
input_file = r"C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2019"
output_file = r'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/2019_bus_per_date.txt'

allFile_list = glob.glob(os.path.join(input_file,'BUS_STATION_BOARDING_MONTH_*'))
print(allFile_list)
allData = []
for file in allFile_list:
    df = pd.read_csv(file, encoding='euc-kr', names = ["사용일자","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
    allData.append(df)

dataCombine = pd.concat(allData, axis=0, ignore_index=True)
dataCombine.to_csv(output_file,encoding='euc-kr', index=False)

['C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2019\\BUS_STATION_BOARDING_MONTH_201901.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2019\\BUS_STATION_BOARDING_MONTH_201902.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2019\\BUS_STATION_BOARDING_MONTH_201903.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2019\\BUS_STATION_BOARDING_MONTH_201904.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2019\\BUS_STATION_BOARDING_MONTH_201905.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2019\\BUS_STATION_BOARDING_MONTH_201906.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2019\\BUS_STATION_BOARDING_MONTH_201907.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2019\\BUS_STATION_BOARDING_MONTH_201908.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2019\\BUS_STATION_BOARDING_MONTH_201909.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2019\\BUS_STATION_BOARDING_MONTH_201910.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2019\\BUS_STATION_BOARDING_MONTH_201911.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2019\\BUS_STATION_BOARDING_MONTH_201912.txt']

C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\chahn\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
#확인
df3 = pd.read_csv("./2019_bus_per_date.txt", encoding="euc-kr", names = ["사용일자","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
df3

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20190101,100,100번(하계동~용산구청),11428,한성여객종점,10.0,0.0,20190104.0
1,20190101,100,100번(하계동~용산구청),11387,노원평생학습관,5.0,0.0,20190104.0
2,20190101,100,100번(하계동~용산구청),11373,중계역,27.0,1.0,20190104.0
3,20190101,100,100번(하계동~용산구청),11381,중계목화아파트4단지,110.0,12.0,20190104.0
4,20190101,100,100번(하계동~용산구청),11311,인덕대학,87.0,76.0,20190104.0
...,...,...,...,...,...,...,...,...
14005301,20191231,영등포01,영등포01(신도림역~구로디지털단지역),19542,농협.대림2동주민센터,108,86,20200103
14005302,20191231,6640B,6640B번(양천차고지~양천차고지),17202,천왕역,171,101,20200103
14005303,20191231,2112,2112번(면목동~성북동),06268,장평중학교,42,41,20200103
14005304,20191231,은평10,은평10(숭실고등학교~산새마을),12160,상신초등학교,111,55,20200103
14005305,20191231,6640B,6640B번(양천차고지~양천차고지),17203,오류2동주민센터,95,60,20200103

In [4]:
#인덱스 확인
df3["사용일자"].unique()

array([20190101, 20190102, 20190103, 20190324, 201903249, 20190104,
       20190105, 20190106, 20190107, 20190108, 20190109, 20190110,
       20190111, 20190112, 20190113, 20190114, 20190115, 20190116,
       20190117, 20190118, 20190119, 20190120, 20190121, 20190122,
       20190123, 20190124, 20190125, 20190126, 20190127, 20190128,
       20190129, 20190130, 20190131, 20190201, 20190202, 20190203,
       20190204, 20190205, 20190206, 20190207, 20190208, 20190306,
       20190209, 20190210, 20190211, 20190212, 20190213, 20190214,
       20190215, 20190216, 20190217, 20190218, 20190219, 20190719,
       20190220, 20190221, 20190222, 20190223, 20190224, 20190225,
       20190226, 20190723, 20190301, 20190227, 20190228, 20190302,
       20190303, '20190303', '20190204', '2019020,50"', '20190304',
       '20190305', 20190305, 20190307, 20190308, 20190309, 20190310,
       20190311, 20190716, 20190312, 20190313, 20190314, 20190315,
       20190316, 20190517, 20190317, '20190317', '20190318',
       '20190씽?,146"', '20190319', 20190319, 20190320, 20190321, 20190725,
       2020190324, 20190322, 20190323, 20190727, '20190324', '190731"',
       '20190728', '20190325', '20190326', 20190326, 20190327, 20190328,
       20190430, 20, 20190329, 20190330, 20190331, 20190401, 20190402,
       20190403, 20190404, 20190405, 20190406, 20190407, 20190408,
       20190409, 20190410, 20190608, 20190411, 20190412, 20190413,
       20190414, 20190415, 20190416, 20190417, 20190418, 20190419,
       20190420, 20190421, 20190422, 20190423, 20190424, 20190425,
       20190426, 20190427, 20190428, 20190429, 20190530, 20190501,
       20190502, 20190503, 20190504, 20190505, 20190506, 20190507,
       20190508, 20190509, 20190510, 20190511, 20190512, 20190513,
       20190514, 20190515, 20190516, 20190518, 20190519, 20190520,
       20190521, 20190522, 20190523, 20190524, 20190525, 20190526,
       20190527, 20190528, 20190529, 20190531, 20190601, 20190602,
       20190603, 20190604, 20190605, 20190606, 20190607, 20190609,
       20190610, 20190611, 20190612, 20190613, 20190614, 20190615,
       20190616, 20190617, 20190618, 20190619, 20190620, 20190621,
       20190622, 20190623, 20190624, 20190625, 20190626, '20190626',
       '20190728143"', '20190627', '20190628', 20190628, 20190629,
       20190630, 20190701, 20190702, 20190703, 20190704, 20190705,
       20190706, 20190707, 20190708, 20190709, 20190710, 20190711,
       20190712, 20190713, 20190714, 20190715, 20190717, 20190718,
       20190720, 20190721, 20190722, 20190724, 20190726, 20190728,
       20190729, 20190730, 20190731, 20190801, 20190802, 20190803,
       20190804, 20190805, 20190806, '20190806', '20190807', '20입구',
       '20191007', '20190808', 20190808, 20190809, 20190810, 20190811,
       20190812, 20190813, 20190814, 20190815, 20190913, 20190816,
       20190817, 20191113, 20190818, 20190819, 20190820, 20190821,
       20190822, 20190823, 20190824, 20190825, 20190826, 20190827,
       20190828, 20190829, 20190830, 20190831, 20190901, 20190902,
       20190903, 20190904, 20190905, 20190906, 20190907, 20190908,
       20190909, 20190910, 20190911, 20190912, 20190914, 20190915,
       20190916, 20190917, 20190918, 20190919, 20190920, 20190921,
       20190922, 20190923, 20190924, 20190925, 20190926, 20190927,
       20190928, 20190929, 20190930, 20191001, 20191002, 20191003,
       20191004, 20191005, 20191006, 20191007, 20191008, 20191009,
       20191010, 20191011, 20191012, 20191013, 20191014, 20191015,
       20191016, 20191017, 20191018, 20191019, 20191020, 20191021,
       20191022, 20191023, 20191024, 20191025, 20191026, 20191027,
       20191028, 20191029, 20191030, 20191031, 20191101, 20191102,
       20191103, 20191104, 20191105, 20191106, 20191107, 20191108,
       20191109, 20191110, 20191111, 20191112, 20191114, 20191115,
       20191116, 20191117, 20191118, 20191119, 20191120, 20191121,
       20191122, 20191123, 20191124, 20191125, 20191126, 20191127,
       20191128, 20191129, 20191130, 20191201, 20191202, 20191203,
       20191204, 20191205, 20191206, 20191207, 20191208, 20191209,
       20191210, 20191211, 20191212, 20191213, 20191214, 20191215,
       20191216, 20191217, 20191218, 20191219, 20191220, 20191221,
       20191222, 20191223, 20191224, 20191225, 20191226, 20191227,
       20191228, 20191229, 20191230, 20191231], dtype=object)

### 2018년

In [5]:
#csv 합치기
input_file = r"C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2018"
output_file = r'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/2018_bus_per_date.txt'

allFile_list = glob.glob(os.path.join(input_file,'BUS_STATION_BOARDING_MONTH_*'))
print(allFile_list)
allData = []
for file in allFile_list:
    df = pd.read_csv(file, encoding='euc-kr', names = ["사용일자","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
    allData.append(df)

dataCombine = pd.concat(allData, axis=0, ignore_index=True)
dataCombine.to_csv(output_file,encoding='euc-kr', index=False)

['C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2018\\BUS_STATION_BOARDING_MONTH_201801.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2018\\BUS_STATION_BOARDING_MONTH_201802.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2018\\BUS_STATION_BOARDING_MONTH_201803.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2018\\BUS_STATION_BOARDING_MONTH_201804.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2018\\BUS_STATION_BOARDING_MONTH_201805.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2018\\BUS_STATION_BOARDING_MONTH_201806.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2018\\BUS_STATION_BOARDING_MONTH_201807.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2018\\BUS_STATION_BOARDING_MONTH_201808.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2018\\BUS_STATION_BOARDING_MONTH_201809.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2018\\BUS_STATION_BOARDING_MONTH_201810.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2018\\BUS_STATION_BOARDING_MONTH_201811.txt', 'C:/Users/chahn/Documents/이어드림/14주차 중간프로젝트/버스/data2/2018\\BUS_STATION_BOARDING_MONTH_201812.txt']

In [6]:
#확인
df4 = pd.read_csv("./2018_bus_per_date.txt", encoding="euc-kr", names = ["사용일자","노선번호","노선명","버스정류장ARS번호","역명","승차총승객수","하차총승객수","등록일자"], skiprows=[0])
df4

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20180101,100,100번(하계동~용산구청),11428,한성여객종점,12,4,20180104
1,20180101,100,100번(하계동~용산구청),11387,노원평생학습관,11,0,20180104
2,20180101,100,100번(하계동~용산구청),11373,중계역,15,1,20180104
3,20180101,100,100번(하계동~용산구청),11381,중계시영4단지,97,13,20180104
4,20180101,100,100번(하계동~용산구청),11311,인덕대학,93,79,20180104
...,...,...,...,...,...,...,...,...
13748820,20181231,1144,1144번(하계동~삼양사거리),09102,우이동도선사입구.북한산우이역,19,171,20190103
13748821,20181231,1144,1144번(하계동~삼양사거리),09103,우이동성원아파트,7,37,20190103
13748822,20181231,1144,1144번(하계동~삼양사거리),09108,국립4.19민주묘지입구사거리,35,100,20190103
13748823,20181231,1144,1144번(하계동~삼양사거리),09106,서라벌중학교.우이동대우아파트,54,58,20190103
13748824,20181231,1144,1144번(하계동~삼양사거리),09107,덕성여대솔밭근린공원,33,91,20190103

In [7]:
#인덱스 값 확인
df4["사용일자"].unique()

array([20180101, 20180102, 20180103, 20180104, 20180105, 20180106,
       20180107, 20180108, 20180109, 20180110, 20180111, 20180112,
       20180113, 20180114, 20180115, 20180116, 20180117, 20180118,
       20180119, 20180120, 20180121, 20180122, 20180123, 20180124,
       20180125, 20180126, 20180127, 20180128, 20180129, 20180130,
       20180131, 20180201, 20180202, 20180203, 20180204, 20180205,
       20180206, 20180207, 20180208, 20180209, 20180210, 20180211,
       20180212, 20180213, 20180214, 20180215, 20180216, 20180217,
       20180218, 20180219, 20180220, 20180221, 20180222, 20180223,
       20180224, 20180225, 20180226, 20180227, 20180228, 20180301,
       20180302, 20180303, 20180304, 20180305, 20180306, 20180307,
       20180308, 20180309, 20180310, 20180311, 20180312, 20180313,
       20180314, 20180315, 20180316, 20180317, 20180318, 20180319,
       20180320, 20180321, 20180322, 20180323, 20180324, 20180325,
       20180326, 20180327, 20180328, 20180329, 20180330, 20180331,
       20180401, 20180402, 20180403, 20180404, 20180405, 20180406,
       20180407, 20180408, 20180409, 20180410, 20180411, 20180412,
       20180413, 20180414, 20180415, 20180416, 20180417, 20180418,
       20180419, 20180420, 20180421, 20180422, 20180423, 20180424,
       20180425, 20180426, 20180427, 20180428, 20180429, 20180430,
       20180501, 20180502, 20180503, 20180504, 20180505, 20180506,
       20180507, 20180508, 20180509, 20180510, 20180511, 20180512,
       20180513, 20180514, 20180515, 20180516, 20180517, 20180518,
       20180519, 20180520, 20180521, 20180522, 20180523, 20180524,
       20180525, 20180526, 20180527, 20180528, 20180529, 20180530,
       20180531, 20180601, 20180602, 20180603, 20180604, 20180605,
       20180606, 20180607, 20180608, 20180609, 20180610, 20180611,
       20180612, 20180613, 20180615, 20180616, 20180617, 20180618,
       20180619, 20180620, 20180621, 20180622, 20180623, 20180624,
       20180625, 20180626, 20180627, 20180628, 20180630, 20180701,
       20180702, 20180703, 20180704, 20180705, 20180706, 20180707,
       20180708, 20180709, 20180710, 20180711, 20180712, 20180713,
       20180715, 20180716, 20180717, 20180718, 20180719, 20180720,
       20180721, 20180722, 20180723, 20180724, 20180725, 20180726,
       20180727, 20180728, 20180729, 20180730, 20180731, 20180801,
       20180802, 20180803, 20180804, 20180805, 20180806, 20180807,
       20180808, 20180809, 20180810, 20180811, 20180812, 20180813,
       20180814, 20180815, 20180816, 20180817, 20180818, 20180819,
       20180820, 20180821, 20180822, 20180823, 20180824, 20180825,
       20180826, 20180827, 20180828, 20180829, 20180830, 20180831,
       20180901, 20180902, 20180903, 20180904, 20180905, 20180906,
       20180907, 20180908, 20180909, 20180910, 20180911, 20180912,
       20180913, 20180914, 20180915, 20180916, 20180917, 20180918,
       20180919, 20180920, 20180921, 20180922, 20180923, 20180924,
       20180925, 20180926, 20180927, 20180928, 20180929, 20180930,
       20181001, 20181002, 20181003, 20181004, 20181005, 20181006,
       20181007, 20181008, 20181009, 20181010, 20181011, 20181012,
       20181013, 20181014, 20181015, 20181016, 20181017, 20181018,
       20181019, 20181020, 20181021, 20181022, 20181023, 20181024,
       20181025, 20181026, 20181027, 20181028, 20181029, 20181030,
       20181031, 20181101, 20181102, 20181103, 20181104, 20181105,
       20181106, 20181107, 20181108, 20181109, 20181110, 20181111,
       20181112, 20181113, 20181114, 20181115, 20181116, 20181117,
       20181118, 20181119, 20181120, 20181121, 20181122, 20181123,
       20181124, 20181125, 20181126, 20181127, 20181128, 20181129,
       20181130, 20181201, 20181202, 20181203, 20181204, 20181205,
       20181206, 20181207, 20181208, 20181209, 20181210, 20181211,
       20181212, 20181213, 20181214, 20181215, 20181216, 20181217,
       20181218, 20181219, 20181220, 20181221, 20181222, 20181223,
       20181224, 20181225, 20181226, 20181227, 20181228, 20181229,
       20181230, 20181231], dtype=int64)

### parquet으로 변환!

In [13]:
df4.to_parquet('2018_bus_per_date.parquet')

In [4]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [71]:
#parquet 확인
pq = spark.read.parquet('./data/parquet/2018_bus_per_date.parquet')
pq.show()

+--------+--------+------------------------------+-----------------+----------------------+------------+------------+--------+
|사용일자|노선번호|                        노선명|버스정류장ARS번호|                  역명|승차총승객수|하차총승객수|등록일자|
+--------+--------+------------------------------+-----------------+----------------------+------------+------------+--------+
|20180101|     100|        100번(하계동~용산구청)|            11428|          한성여객종점|          12|           4|20180104|
|20180101|     100|        100번(하계동~용산구청)|            11387|        노원평생학습관|          11|           0|20180104|
|20180101|     100|        100번(하계동~용산구청)|            11373|                중계역|          15|           1|20180104|
|20180101|     100|        100번(하계동~용산구청)|            11381|         중계시영4단지|          97|          13|20180104|
|20180101|     100|        100번(하계동~용산구청)|            11311|              인덕대학|          93|          79|20180104|
|20180101|     100|        100번(하계동~용산구청)|            01198|                원남동|          27|          65|20180104|
|20180101|     100|        100번(하계동~용산구청)|            03223|      이촌동현대아파트|         169|          33|20180104|
|20180101|     101|          101번(화계사~동대문)|            10210|      쌍문동성원아파트|         157|          37|20180104|
|20180101|     102|          102번(상계동~동대문)|            09151|          북부시장입구|          70|          56|20180104|
|20180101|     106|          106번(의정부~동대문)|            61003|          중앙초등학교|           5|         114|20180104|
|20180101|     143|            143번(정릉~개포동)|            22206|              잠원성당|          56|         110|20180104|
|20180101|     162|            162번(정릉~여의도)|            19150|               KBS별관|          31|          89|20180104|
|20180101|     571|          571번(가산동~기자촌)|            17133|              남구로역|          14|         121|20180104|
|20180101|    2112|         2112번(면목동~성북동)|            08237|     삼선교.성북문화원|         110|          71|20180104|
|20180101|    2115| 2115번(중랑공영차고지~서경대)|            07337|        중랑공영차고지|           0|          31|20180104|
|20180101|    5623|5623번(군포 공영차고지~여의도)|            40046|복합화물터미널후문입구|          31|           0|20180104|
|20180101|    5623|5623번(군포 공영차고지~여의도)|            40055|        안양컨트리클럽|          54|           1|20180104|
|20180101|    2115| 2115번(중랑공영차고지~서경대)|                ~|  중랑공영차고지(가상)|           0|          20|20180104|
|20180101|    5623|5623번(군포 공영차고지~여의도)|            40052|          용호고등학교|          44|           2|20180104|
|20180101|    5623|5623번(군포 공영차고지~여의도)|            40027|        당동주공아파트|           8|           4|20180104|
+--------+--------+------------------------------+-----------------+----------------------+------------+------------+--------+
only showing top 20 rows

In [72]:
#parquet 확인
pq.select("사용일자").distinct().collect()

[Row(사용일자=20180812),
 Row(사용일자=20180927),
 Row(사용일자=20181115),
 Row(사용일자=20180105),
 Row(사용일자=20180425),
 Row(사용일자=20180515),
 Row(사용일자=20180601),
 Row(사용일자=20181003),
 Row(사용일자=20180208),
 Row(사용일자=20180523),
 Row(사용일자=20180809),
 Row(사용일자=20180423),
 Row(사용일자=20180401),
 Row(사용일자=20181125),
 Row(사용일자=20180513),
 Row(사용일자=20180806),
 Row(사용일자=20180122),
 Row(사용일자=20180316),
 Row(사용일자=20180822),
 Row(사용일자=20180219),
 Row(사용일자=20180302),
 Row(사용일자=20180501),
 Row(사용일자=20181126),
 Row(사용일자=20180402),
 Row(사용일자=20180127),
 Row(사용일자=20180404),
 Row(사용일자=20180419),
 Row(사용일자=20180420),
 Row(사용일자=20180719),
 Row(사용일자=20181021),
 Row(사용일자=20181104),
 Row(사용일자=20180905),
 Row(사용일자=20180512),
 Row(사용일자=20181105),
 Row(사용일자=20180123),
 Row(사용일자=20181108),
 Row(사용일자=20180913),
 Row(사용일자=20181024),
 Row(사용일자=20181112),
 Row(사용일자=20180916),
 Row(사용일자=20180214),
 Row(사용일자=20180618),
 Row(사용일자=20180817),
 Row(사용일자=20180818),
 Row(사용일자=20180330),
 Row(사용일자=20180416),
 Row(사용일자=20180917),
 Row(사용일자=20180103),
 Row(사용일자=20180130),
 Row(사용일자=20180628),
 Row(사용일자=20180307),
 Row(사용일자=20180409),
 Row(사용일자=20180204),
 Row(사용일자=20180827),
 Row(사용일자=20181019),
 Row(사용일자=20181203),
 Row(사용일자=20180620),
 Row(사용일자=20181007),
 Row(사용일자=20180228),
 Row(사용일자=20180712),
 Row(사용일자=20181012),
 Row(사용일자=20181023),
 Row(사용일자=20181228),
 Row(사용일자=20181213),
 Row(사용일자=20180107),
 Row(사용일자=20180904),
 Row(사용일자=20180909),
 Row(사용일자=20180323),
 Row(사용일자=20180406),
 Row(사용일자=20180520),
 Row(사용일자=20181128),
 Row(사용일자=20181216),
 Row(사용일자=20180320),
 Row(사용일자=20180604),
 Row(사용일자=20180309),
 Row(사용일자=20180826),
 Row(사용일자=20180111),
 Row(사용일자=20180210),
 Row(사용일자=20180612),
 Row(사용일자=20181002),
 Row(사용일자=20180326),
 Row(사용일자=20181107),
 Row(사용일자=20180910),
 Row(사용일자=20180218),
 Row(사용일자=20180623),
 Row(사용일자=20181211),
 Row(사용일자=20180715),
 Row(사용일자=20181103),
 Row(사용일자=20181119),
 Row(사용일자=20180907),
 Row(사용일자=20180215),
 Row(사용일자=20180403),
 Row(사용일자=20181102),
 Row(사용일자=20181229),
 Row(사용일자=20180104),
 Row(사용일자=20180503),
 Row(사용일자=20180517),
 Row(사용일자=20180530),
 Row(사용일자=20180923),
 Row(사용일자=20180112),
 Row(사용일자=20180929),
 Row(사용일자=20181111),
 Row(사용일자=20180114),
 Row(사용일자=20180413),
 Row(사용일자=20181018),
 Row(사용일자=20180327),
 Row(사용일자=20181129),
 Row(사용일자=20180720),
 Row(사용일자=20180428),
 Row(사용일자=20180510),
 Row(사용일자=20180125),
 Row(사용일자=20180209),
 Row(사용일자=20180609),
 Row(사용일자=20180613),
 Row(사용일자=20180412),
 Row(사용일자=20180519),
 Row(사용일자=20180710),
 Row(사용일자=20180804),
 Row(사용일자=20180317),
 Row(사용일자=20180506),
 Row(사용일자=20180528),
 Row(사용일자=20180106),
 Row(사용일자=20180110),
 Row(사용일자=20180627),
 Row(사용일자=20180810),
 Row(사용일자=20180212),
 Row(사용일자=20180304),
 Row(사용일자=20180724),
 Row(사용일자=20181206),
 Row(사용일자=20180129),
 Row(사용일자=20180707),
 Row(사용일자=20181116),
 Row(사용일자=20180223),
 Row(사용일자=20180912),
 Row(사용일자=20181006),
 Row(사용일자=20180624),
 Row(사용일자=20180227),
 Row(사용일자=20180619),
 Row(사용일자=20181010),
 Row(사용일자=20180430),
 Row(사용일자=20181022),
 Row(사용일자=20180120),
 Row(사용일자=20180201),
 Row(사용일자=20180308),
 Row(사용일자=20180617),
 Row(사용일자=20180717),
 Row(사용일자=20181020),
 Row(사용일자=20180331),
 Row(사용일자=20180511),
 Row(사용일자=20180723),
 Row(사용일자=20181120),
 Row(사용일자=20180802),
 Row(사용일자=20180303),
 Row(사용일자=20180625),
 Row(사용일자=20180730),
 Row(사용일자=20180505),
 Row(사용일자=20180211),
 Row(사용일자=20180706),
 Row(사용일자=20180703),
 Row(사용일자=20180805),
 Row(사용일자=20180128),
 Row(사용일자=20181013),
 Row(사용일자=20180126),
 Row(사용일자=20180306),
 Row(사용일자=20180622),
 Row(사용일자=20180722),
 Row(사용일자=20181208),
 Row(사용일자=20181220),
 Row(사용일자=20180718),
 Row(사용일자=20180914),
 Row(사용일자=20181214),
 Row(사용일자=20180102),
 Row(사용일자=20180410),
 Row(사용일자=20181124),
 Row(사용일자=20180525),
 Row(사용일자=20180702),
 Row(사용일자=20180124),
 Row(사용일자=20180725),
 Row(사용일자=20181009),
 Row(사용일자=20180518),
 Row(사용일자=20180608),
 Row(사용일자=20180815),
 Row(사용일자=20180319),
 Row(사용일자=20181218),
 Row(사용일자=20181217),
 Row(사용일자=20180206),
 Row(사용일자=20181101),
 Row(사용일자=20181201),
 Row(사용일자=20180729),
 Row(사용일자=20181026),
 Row(사용일자=20180704),
 Row(사용일자=20180405),
 Row(사용일자=20180808),
 Row(사용일자=20180829),
 Row(사용일자=20180621),
 Row(사용일자=20180220),
 Row(사용일자=20180605),
 Row(사용일자=20180813),
 Row(사용일자=20181215),
 Row(사용일자=20181230),
 Row(사용일자=20180205),
 Row(사용일자=20180926),
 Row(사용일자=20181029),
 Row(사용일자=20181202),
 Row(사용일자=20180626),
 Row(사용일자=20180615),
 Row(사용일자=20180906),
 Row(사용일자=20180830),
 Row(사용일자=20181205),
 Row(사용일자=20180221),
 Row(사용일자=20180731),
 Row(사용일자=20180908),
 Row(사용일자=20180716),
 Row(사용일자=20180606),
 Row(사용일자=20180322),
 Row(사용일자=20180521),
 Row(사용일자=20180918),
 Row(사용일자=20181113),
 Row(사용일자=20180831),
 Row(사용일자=20181004),
 Row(사용일자=20180504),
 Row(사용일자=20181030),
 Row(사용일자=20181226),
 Row(사용일자=20180811),
 Row(사용일자=20181117),
 Row(사용일자=20180814),
 Row(사용일자=20180524),
 Row(사용일자=20181222),
 Row(사용일자=20180305),
 Row(사용일자=20180414),
 Row(사용일자=20180118),
 Row(사용일자=20180222),
 Row(사용일자=20180529),
 Row(사용일자=20180101),
 Row(사용일자=20181110),
 Row(사용일자=20180417),
 Row(사용일자=20181212),
 Row(사용일자=20180312),
 Row(사용일자=20180607),
 Row(사용일자=20180514),
 Row(사용일자=20180611),
 Row(사용일자=20181028),
 Row(사용일자=20180115),
 Row(사용일자=20181005),
 Row(사용일자=20180108),
 Row(사용일자=20181204),
 Row(사용일자=20180202),
 Row(사용일자=20180216),
 Row(사용일자=20180726),
 Row(사용일자=20181118),
 Row(사용일자=20180119),
 Row(사용일자=20180602),
 Row(사용일자=20180701),
 Row(사용일자=20180903),
 Row(사용일자=20181130),
 Row(사용일자=20181225),
 Row(사용일자=20181231),
 Row(사용일자=20180727),
 Row(사용일자=20181114),
 Row(사용일자=20180920),
 Row(사용일자=20180224),
 Row(사용일자=20180509),
 Row(사용일자=20180709),
 Row(사용일자=20180508),
 Row(사용일자=20180921),
 Row(사용일자=20180117),
 Row(사용일자=20180116),
 Row(사용일자=20180816),
 Row(사용일자=20181001),
 Row(사용일자=20181109),
 Row(사용일자=20180421),
 Row(사용일자=20180902),
 Row(사용일자=20180313),
 Row(사용일자=20180819),
 Row(사용일자=20180121),
 Row(사용일자=20180225),
 Row(사용일자=20180321),
 Row(사용일자=20181219),
 Row(사용일자=20180207),
 Row(사용일자=20180526),
 Row(사용일자=20180801),
 Row(사용일자=20181027),
 Row(사용일자=20180408),
 Row(사용일자=20180311),
 Row(사용일자=20181017),
 Row(사용일자=20180213),
 Row(사용일자=20180415),
 Row(사용일자=20180820),
 Row(사용일자=20180928),
 Row(사용일자=20180411),
 Row(사용일자=20181014),
 Row(사용일자=20181122),
 Row(사용일자=20181209),
 Row(사용일자=20180630),
 Row(사용일자=20180711),
 Row(사용일자=20180823),
 Row(사용일자=20180824),
 Row(사용일자=20180915),
 Row(사용일자=20180203),
 Row(사용일자=20181207),
 Row(사용일자=20180429),
 Row(사용일자=20180821),
 Row(사용일자=20180825),
 Row(사용일자=20180911),
 Row(사용일자=20181121),
 Row(사용일자=20180807),
 Row(사용일자=20181123),
 Row(사용일자=20180325),
 Row(사용일자=20180901),
 Row(사용일자=20181221),
 Row(사용일자=20180318),
 Row(사용일자=20180522),
 Row(사용일자=20180603),
 Row(사용일자=20180924),
 Row(사용일자=20180314),
 Row(사용일자=20180301),
 Row(사용일자=20180426),
 Row(사용일자=20180427),
 Row(사용일자=20180329),
 Row(사용일자=20181031),
 Row(사용일자=20180919),
 Row(사용일자=20180131),
 Row(사용일자=20180328),
 Row(사용일자=20181223),
 Row(사용일자=20180217),
 Row(사용일자=20180324),
 Row(사용일자=20180422),
 Row(사용일자=20180507),
 Row(사용일자=20180803),
 Row(사용일자=20180610),
 Row(사용일자=20180616),
 Row(사용일자=20180708),
 Row(사용일자=20181016),
 Row(사용일자=20180310),
 Row(사용일자=20180418),
 Row(사용일자=20180407),
 Row(사용일자=20180502),
 Row(사용일자=20181106),
 Row(사용일자=20181224),
 Row(사용일자=20180109),
 Row(사용일자=20180315),
 Row(사용일자=20180527),
 Row(사용일자=20180721),
 Row(사용일자=20180922),
 Row(사용일자=20180925),
 Row(사용일자=20181127),
 Row(사용일자=20180516),
 Row(사용일자=20180713),
 Row(사용일자=20180113),
 Row(사용일자=20180424),
 Row(사용일자=20180728),
 Row(사용일자=20181008),
 Row(사용일자=20180705),
 Row(사용일자=20181025),
 Row(사용일자=20180226),
 Row(사용일자=20181011),
 Row(사용일자=20181210),
 Row(사용일자=20180531),
 Row(사용일자=20180828),
 Row(사용일자=20181015),
 Row(사용일자=20180930),
 Row(사용일자=20181227)]